<?php
	$_helper = $this->helper('catalog/output');
	$_product = $this->getProduct();
	//$_shipmentsAndReturns = $this->getChildHtml('cms_shipments_and_returns');
	$_shipmentsAndReturns = $this->getLayout()->createBlock('cms/block')->setBlockId('shipments_and_returns')->toHtml();
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view" itemscope itemtype="http://data-vocabulary.org/Product">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

		<div id="product-media" class="product-img-box">
			<?php echo $this->getChildHtml('media') ?>
		</div>

		<div class="product-data">
			<div class="product-shop">
				<div class="product-name">
					<h1 itemprop="name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
				</div>

				<?php echo $this->getChildHtml('product_additional_data') ?>

				<?php echo $this->getChildHtml('alert_urls') ?>
				<?php echo $this->getChildHtml('product_type_data') ?>

				<div class="product-tabs">
					<ul>
						<?php if ($_product->getShortDescription()):?>
							<li class="product-tab">
								<a href="#product-description"><?php echo $this->__('Description') ?></a>
							</li>
						<?php endif;?>
						<?php if ($_product->getDescription()):?>
							<li class="product-tab">
								<a href="#product-details"><?php echo $this->__('Details') ?></a>
							</li>
						<?php endif;?>
						<?php if ($_shipmentsAndReturns):?>
							<li class="product-tab">
								<a href="#shipments-and-returns"><?php echo $this->__('Shipments and returns') ?></a>
							</li>
						<?php endif;?>
					</ul>
					<?php if ($_product->getShortDescription()):?>
						<div class="product-tab-content">
							<h2><a name="product-description"><?php echo $this->__('Description') ?></a></h2>
							<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></p>
							<p class="product-sku"><?php echo $this->__('Sku').' <span itemprop="identifier" content="sku:'. $_helper->productAttribute($_product, $_product->getSku(), 'sku') .'">'.$_helper->productAttribute($_product, $_product->getSku(), 'sku') ?></p>
						</div>
					<?php endif;?>
					<?php if ($_product->getDescription()):?>
						<div class="product-tab-content">
							<h2><a name="product-details"><?php echo $this->__('Details') ?></a></h2>
							<p><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></p>
						</div>
					<?php endif;?>
					<?php if ($_shipmentsAndReturns):?>
						<div class="product-tab-content">
							<h2><a name="shipments-and-returns"><?php echo $this->__('Shipments and returns') ?></a></h2>
							<p><?php echo $_shipmentsAndReturns ?></p>
						</div>
					<?php endif;?>
				</div>

				<?php echo $this->getTierPriceHtml() ?>
				<?php echo $this->getChildHtml('extrahint') ?>

				<?php if (!$this->hasOptions()):?>
					<div class="add-to-box">
						<?php if($_product->isSaleable()): ?>
							<?php echo $this->getChildHtml('addtocart') ?>
							<?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
								<span class="or"><?php echo $this->__('OR') ?></span>
							<?php endif; ?>
						<?php endif; ?>
						<?php echo $this->getChildHtml('addto') ?>
					</div>
					<?php echo $this->getChildHtml('extra_buttons') ?>
				<?php elseif (!$_product->isSaleable()): ?>
					<div class="add-to-box">
						<?php echo $this->getChildHtml('addto') ?>
					</div>
				<?php endif; ?>

				<?php echo $this->getChildHtml('other');?>

				<?php if ($_product->isSaleable() && $this->hasOptions()):?>
					<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
				<?php endif;?>

			</div>

			<div class="clearer"></div>
			<?php if ($_product->isSaleable() && $this->hasOptions()):?>
				<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
			<?php endif;?>

			<?php echo $this->getChildHtml('product_share') ?>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var productAddToCartForm = new VarienForm('product_addtocart_form');
			productAddToCartForm.submit = function(button, url) {
				if (this.validator.validate()) {
					var form = this.form;
					var oldUrl = form.action;

					if (url) {
					   form.action = url;
					}
					var e = null;
					try {
						this.form.submit();
					} catch (e) {
					}
					this.form.action = oldUrl;
					if (e) {
						throw e;
					}

					if (button && button != 'undefined') {
						button.disabled = true;
					}
				}
			}.bind(productAddToCartForm);

			productAddToCartForm.submitLight = function(button, url){
				if(this.validator) {
					var nv = Validation.methods;
					delete Validation.methods['required-entry'];
					delete Validation.methods['validate-one-required'];
					delete Validation.methods['validate-one-required-by-name'];
					// Remove custom datetime validators
					for (var methodName in Validation.methods) {
						if (methodName.match(/^validate-datetime-.*/i)) {
							delete Validation.methods[methodName];
						}
					}

					if (this.validator.validate()) {
						if (url) {
							this.form.action = url;
						}
						this.form.submit();
					}
					Object.extend(Validation.methods, nv);
				}
			}.bind(productAddToCartForm);
		//]]>
		</script>
		</div>
	</div>

    <div class="product-collateral">
        <?php echo $this->getChildHtml('upsell_products') ?>
		<?php echo $this->getChildHtml('questionForm'); ?>
		<?php echo $this->getChildHtml('questionFormSizes'); ?>
    </div>
</div>
