<h2 class="glc-title"><strong><?php echo $this->__('Order Review');?></strong></h2>

<div class="totals">
	<?php echo $this->getChildHtml('info');?>
</div>
<?php if (Mage::getStoreConfig('rewards/general/layoutsactive')): ?>
	<div class="glc-rewards-points">
		<?php echo $this->getChildHtml('gomage.rewards.points'); ?>
	</div>
<?php endif; ?>