<?php if($this->getCollection()->getSize()): ?>
	<div class="toolbar">
		<?php echo $this->getPagerHtml() ?>
		<div class="sorter">
			<label><?php echo $this->__('Sort By') ?></label>
			<div class="drop-down sorter-drop-down">
				<?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
					<?php if($this->isOrderCurrent($_key)): ?>
						<div class="items">
							<span class="selected-item"><?php echo $this->__($_order) ?></span>
							<ul>
								<?php foreach($this->getAvailableOrders() as $_key=>$_order): ?>
									<li>
										<a href="<?php echo $this->getOrderUrl($_key, 'asc') ?>" title="<?php echo $this->__($_order) ?>">
											<?php echo $this->__($_order) ?>
										</a>
									</li>
								<?php endforeach; ?>
							</ul>
						</div>
					<?php endif; ?>
				<?php endforeach; ?>
			</div>
		</div>
		<div class="back-to-top">
			<a href="#top"><?php echo $this->__("Back to top"); ?></a>
		</div>
	</div>
<?php endif ?>