<?php if(count($this->getItemCollection()->getItems())): ?>
<div class="box-collateral box-up-sell">
	<div class="upsell-product-title">
	    <h2><?php echo $this->__('You may also like') ?></h2>
	</div>
	<div class="slider-wrapper">
		<div class="slider upsell-product-slider">
			<ul class="products-list" id="upsell-product-list">
			<?php $this->setColumnCount(5); ?>
			<?php $this->resetItemsIterator() ?>
			<?php for($_i=0;$_i<$this->getRowCount();$_i++): ?>
				<?php for($_j=0;$_j<$this->getColumnCount();$_j++): ?>
					<?php if($_link=$this->getIterableItem()): ?>
						<li>
							<a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_link, 'small_image')->resize(160,230) ?>" width="160" height="230" alt="<?php echo $this->htmlEscape($_link->getName()) ?>" /></a>
							<h3 class="product-name"><a href="<?php echo $_link->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_link->getName()) ?>"><?php echo $this->htmlEscape($_link->getName()) ?></a></h3>
						</li>
					<?php endif; ?>
				<?php endfor; ?>
			<?php endfor; ?>
			</ul>
			<script type="text/javascript">decorateList('upsell-product-list')</script>
		</div>
		<a class="slider-control slider-control-previous" href="#"></a>
		<a class="slider-control slider-control-next" href="#"></a>
	</div>
</div>
<?php endif ?>
