<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
    $zoomenabled = Mage::getStoreConfig('color_selector_plus/zoom/enabled');
    $theSizes = Mage::helper('colorselectorplus')->getImageSizes();
    $galleryPath = '';
    $galleryImages = $this->getGalleryImages();
?>

<div id="loadingImage" style="display:none;">Loading... </div>

<?php if (count($galleryImages) > 0): ?>
	<div class="more-views">
		<?php if ($_product->getTypeId() == "configurable" && Mage::helper('colorselectorplus')->getUsesSwatchAttribs($_product) == 'yes'): ?>
			<?php if($zoomenabled): ?>
				<?php echo Mage::helper('colorselectorplus')->getMoreViewsZoom($_product); ?>
			<?php else: ?>
				<?php echo Mage::helper('colorselectorplus')->getMoreViews($_product); ?>
			<?php endif; ?>
		<?php else : ?>
    		<ul>
    			<?php if($zoomenabled): ?>

					<?php $index = 0; ?>
    				<?php foreach ($galleryImages as $_image): ?>

        				<?php if ($_image->getFile() == $_product->getData('small_image')): ?>
            				<?php $mainImagePath = $this->getGalleryUrl($_image); ?>
        				<?php endif; ?>

        				<li<?php echo ($index++ == 0) ? ' class="active"' : ''; ?>>
                 			<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile())->resize($theSizes['base']['width'],$theSizes['base']['height']) ?>" class="cloud-zoom-gallery" title="<?php $this->htmlEscape($_image->getLabel()) ?>">
                 				<img itemprop="image" src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize($theSizes['more']['width'],$theSizes['more']['height']) ?>" width="<?php echo $theSizes['more']['width'] ?>" height="<?php echo $theSizes['more']['height'] ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
                 			</a>
                 		</li>

    				<?php endforeach; ?>

    			<?php else: ?>

    				<?php foreach ($galleryImages as $_image): ?>
        				<li>
            				<a href="#" onclick="popWin('<?php echo $this->getGalleryUrl($_image) ?>', 'gallery', 'width=300,height=300,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;" title="<?php echo $this->htmlEscape($_image->getLabel()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize($theSizes['more']['width'],$theSizes['more']['height']); ?>" width="<?php echo $theSizes['more']['width']; ?>" height="<?php echo $theSizes['more']['height']; ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" /></a>
        				</li>
    				<?php endforeach; ?>

    			<?php endif;?>
    		</ul>
      	<?php endif; ?>
	</div>
<?php endif; ?>

<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>

	<p class="product-image product-image-zoom">

		<?php if($zoomenabled): ?>

   			<?php
				if (count($galleryImages) > 0):
    				foreach ($galleryImages as $_image):
        				if ($_image->getFile() == $_product->getData('small_image')):
            				$galleryPath = $this->getGalleryUrl($_image);
        				endif;
        			endforeach;
				endif;
			?>

   			<a id="cloudZoom" href="#">
    			<?php $_img = '<img id="image" itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($theSizes['base']['width'],$theSizes['base']['height']).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />'; ?>
    			<?php echo $_helper->productAttribute($_product, $_img, 'image'); ?>
   			</a>
			<div class="overlay" id="product-gallery-container">
				<div class="overlay-title">
					<h5><?php echo $this->__('Close Window'); ?></h5>
					<span class="overlay-close-button">&nbsp;</span>
				</div>
				<div class="overlay-content">
					<div class="more-views">
						<ul>
							<?php $index = 0; ?>
							<?php foreach ($galleryImages as $_image): ?>
								<li<?php echo ($index++ == 0) ? ' class="active"' : ''; ?>>
									<a href="<?php echo $this->helper('catalog/image')->init($_product, 'image', $_image->getFile()) ?>" class="cloud-zoom-gallery" title="<?php $this->htmlEscape($_image->getLabel()) ?>">
										<img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize($theSizes['more']['width'],$theSizes['more']['height']) ?>" width="<?php echo $theSizes['more']['width'] ?>" height="<?php echo $theSizes['more']['height'] ?>" alt="<?php echo $this->htmlEscape($_image->getLabel()) ?>" />
									</a>
								</li>
							<?php endforeach; ?>
						</ul>
					</div>
					<p class="product-image">
						<?php $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image').'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />'; ?>
						<?php echo $_helper->productAttribute($_product, $_img, 'image'); ?>
					</p>
				</div>
			</div>

   		<?php else: ?>

 			<?php $_img = '<img id="image" itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image').'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />'; ?>
        	<?php echo $_helper->productAttribute($_product, $_img, 'image'); ?>

        	<p class="zoom-notice" id="track_hint"><?php echo $this->__('Double click on above image to view full picture') ?></p>
			<div class="zoom">
    			<img id="zoom_out" src="<?php echo $this->getSkinUrl('images/slider_btn_zoom_out.gif') ?>" alt="<?php echo $this->__('Zoom Out') ?>" title="<?php echo $this->__('Zoom Out') ?>" class="btn-zoom-out" />
    			<div id="track">
        			<div id="handle"></div>
    			</div>
    			<img id="zoom_in" src="<?php echo $this->getSkinUrl('images/slider_btn_zoom_in.gif') ?>" alt="<?php echo $this->__('Zoom In') ?>" title="<?php echo $this->__('Zoom In') ?>" class="btn-zoom-in" />
			</div>
			<script type="text/javascript">
			//<![CDATA[
    			Event.observe(window, 'load', function() {
        			product_zoom = new Product.Zoom('image', 'track', 'handle', 'zoom_in', 'zoom_out', 'track_hint');
    			});
			//]]>
			</script>

        <?php endif; ?>

	</p>

<?php else: ?>

	<p class="product-image">
    	<?php
        	$_img = '<img itemprop="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize($theSizes['base']['width'],$theSizes['base']['height']).'" alt="'.$this->htmlEscape($this->getImageLabel()).'" title="'.$this->htmlEscape($this->getImageLabel()).'" />';
        	echo $_helper->productAttribute($_product, $_img, 'image');
    	?>
	</p>

<?php endif; ?>