<?php $slider = $this->getChildHtml('homepage.main.banner.item'); ?>
<?php if ($slider): ?>
    <div class="homepage-top-slider">
        <div class="swiper-container homepage-top-slider-container">
            <div class="swiper-wrapper">
                <?php echo $slider; ?>  
            </div>
        </div>
        <div class="swiper-pagination-container">
            <div class="swiper-pagination"></div>
        </div>
    </div>
<?php endif; ?>