<?php
$banner = $this->getBanner();
$img = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $banner->getImage();
?>
<div class="swiper-slide">
    <?php if ($banner->getLink()): ?>
        <a href="<?php echo $banner->getLink(); ?>"  title="<?php echo $banner->getTitle(); ?>">
        <?php endif; ?>
        <img src="<?php echo $img; ?>" alt="<?php echo $banner->getTitle(); ?>">
        <?php if ($banner->getLink()): ?></a><?php endif; ?>
    <div class="banner-text">
        <div class="banner-title">
            <?php if ($banner->getTitle()): ?>
                <?php if ($banner->getLink()): ?><a href="<?php echo $banner->getLink(); ?>"  title="<?php echo $banner->getTitle(); ?>"><?php endif; ?>
                        <span class="title"><?php echo $banner->getTitle(); ?></span>
                    <?php if ($banner->getLink()): ?></a><?php endif; ?>
            <?php endif; ?>
            <?php if ($banner->getSubTitle()): ?>
                    <?php if ($banner->getLink()): ?><a href="<?php echo $banner->getLink(); ?>"  title="<?php echo $banner->getTitle(); ?>"><?php endif; ?>
                        <span class="subtitle"><?php echo $banner->getSubTitle(); ?></span>
                    <?php if ($banner->getLink()): ?></a><?php endif; ?>
            <?php endif; ?>
        </div>
        <?php if ($banner->getTextCta()): ?>
            <a href="<?php echo $banner->getLink(); ?>" class="banner-cta"><span><?php echo $banner->getTextCta(); ?></span></a>
        <?php endif; ?>
    </div>
</div>