<?php if($this->getContent()):?>
  <div class="glc-content<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
    <?php echo $this->getContent();?>
  </div>
<?php endif ?>

<script type="text/javascript">
	//<![CDATA[

	<?php
	    $translator = array(
	        'This is a required field.' => $this->__('This is a required field.'),
	        'Please select one of the options.' => $this->__('Please select one of the options.'),
	    	'There is already a customer registered using this email address. Please login using this email address or enter a different email address.' => $this->__('There is already a customer registered using this email address. Please login using this email address or enter a different email address.')
	    );
	?>

	if (typeof(Translator) != 'undefined'){
		Translator.add(<?php echo Zend_Json::encode($translator) ?>);
	}

	Validation.addAllThese([
	    ['validate-taxvat', '<?php echo $this->__('Please enter a valid VAT.');?>', function(v) {

		if ($('billing_country_id')){
    	    if(vat_required_countries.indexOf($('billing_country_id').value) !== -1){

    	    	if($('buy_without_vat') && $('buy_without_vat').checked && !checkout.billing_taxvat_verified_flag){

    	    		return false;

    	    	}else if(v && !checkout.billing_taxvat_verified_flag){

    	    		return false;

    	    	}

    	    }
		}

	    return true;
	}]]);

	var countryRegions			= <?php echo $this->helper('directory')->getRegionJson(); ?>;
	var glc_regions_required    = <?php echo Mage::helper('gomage_checkout')->getCountriesStatesRequired(); ?>;
	if (typeof countryRegions.config != 'undefined'){
		countryRegions.config.regions_required = glc_regions_required;
	}
	var default_shipping_method	= '<?php echo $this->getDefaultShippingMethod()?>';
	var default_payment_method	= '<?php echo $this->getDefaultPaymentMethod()?>';

	var shippingMethod = false;
	var loadinfo_text = "<?php echo $this->__('Updating information, please wait...')?>";

	var vat_required_countries = new Array(<?php printf('"%s"', implode('","', Mage::helper('gomage_checkout')->getTaxCountries()));?>);


	<?php

		$observe_billing_items	= array('#buy_without_vat');
		$observe_shipping_items	= array();

		if($this->helper('gomage_checkout')->getConfigData('ajax/country')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing-country select';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping-country select';
		}

		if($this->helper('gomage_checkout')->getConfigData('ajax/region')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing-region select, #gcheckout-onepage-address .billing-region input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping-region input, #gcheckout-onepage-address .shipping-region select';
		}

		if($this->helper('gomage_checkout')->getConfigData('ajax/postcode')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing_postcode input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping_postcode input';
		}

		if($this->helper('gomage_checkout')->getConfigData('ajax/city')){
			$observe_billing_items[] = '#gcheckout-onepage-address .billing_city input';
			$observe_shipping_items[] = '#gcheckout-onepage-address .shipping_city input';
		}

		if($this->helper('gomage_checkout')->getConfigData('ajax/email')){
        	$observe_billing_items[] = '#billing_email';
        }


	?>

	var observe_billing_items	= '<?php echo implode(',', $observe_billing_items);?>';
	var observe_shipping_items	= '<?php echo implode(',', $observe_shipping_items);?>';

	var loginFormHtml = <?php echo json_encode($this->getLoginForm()); ?>;

	<?php if($this->getConfigData('termsandconditions/enabled')):?>

	var termsHtml = '<div class="simple_overlay<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>" id="terms-block" style="display:none;width:<?php echo intval($this->getConfigData('termsandconditions/width'))?>px;height:<?php echo intval($this->getConfigData('termsandconditions/height'))?>px;">'+
	'<div class="glc-popup-content">'+
		'<a class="close" onclick="checkout.hideTerms();return false;">&#x2715;</a>'+
		'<div class="details">'+
			'<div class="popup-content">'+
				'<?php echo preg_replace("/'/", "&#39;", preg_replace('/[\n\r]/', '', (preg_replace('/\<script.*?\\/script>/si', '', $this->getConfigData('termsandconditions/content')))));?>'+
			'</div>'+
		'</div>'+
		'</div>'+
	'</div>';

	<?php endif;?>

   	var centinelHtml = '<div class="simple_overlay" id="gcheckout-payment-centinel" style="display:none;width:<?php echo intval($this->getConfigData('address_fields/secure_window_width')) ?>px;height:<?php echo intval($this->getConfigData('address_fields/secure_window_height')) ?>px;">'+
	'<div class="glc-popup-content" style="width:552;px;height:475px;">'+
		'<a class="close" onclick="checkout.hideCentinel();return false;">&#x2715;</a>'+
		'<div class="details">'+
			'<div class="popup-content" id="gcheckout-payment-centinel-html">'+
			'</div>'+
		'</div>'+
		'</div>'+
	'</div>';

   	if (typeof(CentinelAuthenticate) != 'undefined'){
	    CentinelAuthenticate.prototype.cancel = function() {

	        if (this._isAuthenticationStarted) {
	            if (this._isRelatedBlocksLoaded()) {
	                this._showRelatedBlocks();
	            }
	            if (this._isCentinelBlocksLoaded()) {
	                $(this.centinelBlockId).hide();
	                $(this.iframeId).src = '';
	            }
	            this._isAuthenticationStarted = false;
	        }
	        checkout.hideCentinel();
	    }

	    CentinelAuthenticate.prototype.success = function() {

	        if (this._isRelatedBlocksLoaded() && this._isCentinelBlocksLoaded()) {
	            this._showRelatedBlocks();
	            $(this.centinelBlockId).hide();
	            this._isAuthenticationStarted = false;
	            checkout.hideCentinel();
	            checkout.saveorder();
	        }

	    }
   	}

	//]]>
</script>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="page-title glc-title">
	<h1><?php echo $this->__('Checkout'); ?></h1>
</div>

<?php if((!$this->isCustomerLoggedIn() && $this->getCheckoutMode() != 2) || Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')): ?>
<div class="glc-login-and-paypal<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">

		<?php if(!$this->isCustomerLoggedIn() && $this->getCheckoutMode() != 2): ?>
			<div id="gcheckout-login-link" class="glc-login-link<?php if (Mage::helper('gomage_checkout')->isLefttoRightWrite()): ?> glc-rtl<?php endif; ?>">
				<a href="#" onclick="checkout.showLoginForm();return false;" class="login-button" rel="#login-block"><?php echo $this->__('Already registered? <strong>Please click here to log in</strong>');?></a>
			</div>
			<?php echo $this->getChildHtml('login_before')?>
		<?php endif;?>

		<?php $payments_buttons = explode(',', Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')); ?>

		<?php if(Mage::getStoreConfig('gomage_checkout/address_fields/payments_buttons')): ?>
		    <?php if(in_array(GoMage_Checkout_Model_Adminhtml_System_Config_Source_Payment_Buttons::GOOGLE_CHECKOUT, $payments_buttons)): ?>
		    	<div class="glc-paypal-express">
		    	    <?php echo $this->getChildHtml('gomage.methods.google_checkout'); ?>
		    	</div>
		    <?php endif;?>
		    <?php if(in_array(GoMage_Checkout_Model_Adminhtml_System_Config_Source_Payment_Buttons::PAYPAL, $payments_buttons)): ?>
		    	<div class="glc-paypal-express">
		    	    <?php echo $this->getChildHtml('gomage.methods.paypal_express'); ?>
		    	</div>
		    <?php endif;?>
		<?php endif; ?>
</div>
<?php endif; ?>

<div class="glc gcheckout-onepage-wrap <?php echo $this->getContentCssClasses(); ?>">

	<form action="<?php echo $this->getUrl('gomage_checkout/onepage/save');?>" method="post" id="gcheckout-onepage-form">
		<?php
			$form_block = clone $this;
			$form_block->setTemplate('gomage/checkout/form.phtml');
			echo $form_block->toHtml();
		?>
	</form>

	<script type="text/javascript">
	//<![CDATA[
		var checkoutForm = new VarienForm('gcheckout-onepage-form');
		var checkoutloginform = new LightcheckoutLogin({url:"<?php echo $this->getUrl("gomage_checkout/onepage/customerLogin");?>", url_forgot:"<?php echo $this->getUrl("gomage_checkout/onepage/forgotPassword");?>"});

		<?php if($this->isCustomerLoggedIn()):?>

	    	checkoutloginform.customerIsCustomerLoggedIn = true;

	    <?php else:?>

	    	checkoutloginform.customerIsCustomerLoggedIn = false;

	    <?php endif;?>


		var checkout = new Lightcheckout({url:"<?php echo $this->getUrl('gomage_checkout/onepage/ajax');?>",
										  save_order_url:"<?php echo $this->getUrl('gomage_checkout/onepage/save');?>",
										  billing_taxvat_enabled:<?php echo Mage::helper('gomage_checkout')->getConfigData('vat/enabled') ? 'true' : 'false';?>});

		function changeAddressMode(flag){

			if(flag){

				$('gcheckout-shipping-address').style.display = 'none';

				<?php if(!Mage::getStoreConfig('gomage_checkout/deliverydate/deliverydate')):?>
				$$('div.gcheckout-onepage-wrap')[0].removeClassName('notddate_diferent_shipping_address');
				<?php else:?>
				$$('div.gcheckout-onepage-wrap')[0].removeClassName('diferent_shipping_address');
				<?php endif;?>

			}else{
				$('gcheckout-shipping-address').style.display = 'block';

				<?php if(!Mage::getStoreConfig('gomage_checkout/deliverydate/deliverydate')):?>
				$$('div.gcheckout-onepage-wrap')[0].addClassName('notddate_diferent_shipping_address');
				<?php else:?>
				$$('div.gcheckout-onepage-wrap')[0].addClassName('diferent_shipping_address');
				<?php endif;?>

			};


		}


	    function initAddresses(){
	    <?php if($this->isEnabled('country_id') && $this->isEnabled('region')):?>
	    billingRegionUpdater = new RegionUpdater('billing_country_id', 'billing_region', 'billing_region_id', countryRegions, undefined, <?php echo $this->getConfigData('address_fields/postcode') == 'req'  ? '"billing_postcode"' : 'undefined';?>);

	    <?php if($this->getChild('address')->getChild('billing')->canShip()):?>

			<?php if( $this->getChild('address')->getChild('shipping')->isEnabled('country_id') && $this->getChild('address')->getChild('shipping')->isEnabled('region')):?>
		    shippingRegionUpdater = new RegionUpdater('shipping_country_id', 'shipping_region', 'shipping_region_id', countryRegions, undefined, <?php echo $this->getConfigData('address_fields/postcode') == 'req'  ? '"shipping_postcode"' : 'undefined';?>);
		   	<?php endif;?>

	   	<?php endif;?>

	   	<?php endif;?>

	   	}

	   	initAddresses();

	   	<?php if(Mage::getSingleton('checkout/type_onepage')->getQuote()->getBillingAddress()->getIsValidVat()):?>

	   	checkout.billing_taxvat_verified_flag = true;

	   	<?php endif;?>

	   	<?php if(Mage::helper('gomage_sagepay')->isGoMage_SagePayEnabled()): ?>

    	   	var review = new LightcheckoutReview('<?php echo $this->getUrl('gomage_checkout/onepage/save') ?>', '<?php echo $this->getUrl('checkout/onepage/success') ?>', $('checkout-agreements'));
    		SageServer = new EbizmartsSagePaySuite.Checkout
    					(
    		                {
    	                        'checkout':  checkout,
    	                        'review':    review,
    	                        'payment':   payment
    		                }
    	        		);

		<?php endif; ?>

		//]]>
	</script>

</div>
