<div class="page-title">
    <h1><?php echo $this->__('Thank you for your purchase') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<h2 class="sub-title"><?php echo $this->__('Your order has been received') ?></h2>
<p><?php echo $this->__('You will receive an order confirmation email with details of your order and a link to track its progress') ?></p>

<?php if ($this->getOrderId()):?>
<?php if ($this->getCanViewOrder()) :?>
    <p class="order-number"><?php echo $this->__('Your order # is: %s', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getViewOrderUrl()), $this->escapeHtml($this->getOrderId()))) ?></p>
<?php  else :?>
    <p class="order-number"><?php echo $this->__('Your order # is: %s', $this->escapeHtml($this->getOrderId())) ?></p>
<?php endif;?>
<?php if ($this->getCanViewOrder() && $this->getCanPrintOrder()) :?>
    <p class="print-order">
        <?php echo $this->__('<a href="%s" onclick="this.target=\'_blank\'">Click here</a> to print a copy of your order confirmation', $this->getPrintUrl()) ?>
    </p>
<?php endif;?>
<?php echo $this->getChildHtml() ?>
<?php endif;?>

<?php if ($this->getAgreementRefId()): ?>
    <p><?php echo $this->__('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getAgreementUrl()), $this->escapeHtml($this->getAgreementRefId())))?></p>
<?php endif;?>

<?php if ($profiles = $this->getRecurringProfiles()):?>
<p><?php echo $this->__('Your recurring payment profiles:'); ?></p>
<ul class="disc">
<?php foreach($profiles as $profile):?>
<?php $profileIdHtml = ($this->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $this->escapeHtml($this->getProfileUrl($profile)), $this->escapeHtml($this->getObjectData($profile, 'reference_id'))) : $this->escapeHtml($this->getObjectData($profile, 'reference_id')));?>
    <li><?php echo $this->__('Payment profile # %s: "%s".', $profileIdHtml, $this->escapeHtml($this->getObjectData($profile, 'schedule_description')))?></li>
<?php endforeach;?>
</ul>
<?php endif;?>

<div class="checkout-success-image">
	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('checkout_success_image')->toHtml(); ?>
</div>

<?php if (false): ?>
<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>
<?php endif; ?>