<?php
/**
 * Mageplace Facebook Connect
 *
 * @category    Mageplace_Facebook
 * @package     Mageplace_Facebook_Connect
 * @copyright   Copyright (c) 2011 Mageplace. (http://www.mageplace.com)
 * @license     http://www.mageplace.com/disclaimer.html
 */

?>
<div class="page-title">
    <h1><?php echo $this->__('Twitter Connect') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<?php echo $this->getChildHtml('twitterconnect_form_before')?>
<form action="<?php echo $this->getAction() ?>" method="post" id="form-validate">
    <div class="fieldset">
        <?php echo $this->getBlockHtml('formkey')?>
        <h2 class="legend"><?php echo $this->__('Twitter Post') ?></h2>
        <ul class="form-list">
            <li class="control">
            	<input type="checkbox" name="twitter_post" id="twitter_post" value="1" title="<?php echo $this->__('Post order details to Twitter'); ?>"<?php if($this->getIsPostToTwitter()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            	<label for="twitter_post"><?php echo $this->__('Post order details to Twitter') ?></label>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </div>
</form>