<div class="account-login facebook-login">
	<div class="content new-users">
		<h2><?php echo $this->__('Connect with Facebook') ?></h2>
		<p><?php echo $this->__('Use your Facebook account to login or register within our store. You\'re just one click away.' ) ?></p>
	</div>
	<div class="buttons-set">
		<button rel="facebook-connect" type="button" title="<?php echo $this->__('Connect') ?>" class="button"><span><span><?php echo $this->__('Connect') ?></span></span></button>
	</div>
</div>