<div class="discount">
    <div class="lightcheckout-discount-form">
		<h3><?php echo $this->__('Discount Code') ?></h3>

        <input type="hidden" name="remove" id="remove_coupone" value="0" />

		<label for="coupon_code"><?php echo $this->__('Insert your code if you own one') ?></label>

        <div class="input-box">
            <input type="text" class="input-text" id="coupon_code" name="coupon_code" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
        </div>

		<button type="button" title="<?php echo $this->__('Apply Coupon') ?>" class="button" onclick="if(!$('coupon_code').value){alert('<?php echo $this->__('Please enter coupon code.') ?>')}else{checkout.applyDisocunt(false);}" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>
		<?php if(strlen($this->getCouponCode())): ?>
			&nbsp; <button type="button" title="<?php echo $this->__('Cancel Coupon') ?>" class="button" onclick="checkout.applyDisocunt(true)" value="<?php echo $this->__('Cancel Coupon') ?>"><span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
		<?php endif;?>

    </div>
</div>