<?php
$discount_position = Mage::helper('gomage_checkout')->getConfigData('general/enable_discount');
?>
<?php if($discount_position == 1){ echo $this->getChildHtml('discount'); };?>
<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper">
    <table class="data-table" id="checkout-review-table">
        <?php if ($this->helper('tax')->displayCartBothPrices()): $colspan = $rowspan = 2; else: $colspan = $rowspan = 1; endif; ?>

		<?php if(Mage::helper('gomage_checkout')->getConfigData('general/allow_remove')>0):?>
		<col width="1" />
		<?php endif;?>

		<?php if(Mage::helper('gomage_checkout')->getConfigData('address_fields/thumbnails')>0):?>
		<col width="45" />
		<?php endif;?>

		<col width="287" />

		<?php if(Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/enable')>0):?>
		<col width="1"/>
		<?php endif; ?>

        <col width="100" />
		<?php if(Mage::helper('gomage_checkout')->getConfigData('general/allow_change_qty')>0):?>
        <col width="1" />
		<?php else:?>
		<col width="100" />
		<?php endif;?>

		<col width="80" />
        <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
        <col width="1" />
        <col width="1" />
        <?php endif; ?>
        <thead>
            <tr>
    			<?php if(Mage::helper('gomage_checkout')->getConfigData('general/allow_remove')>0):?>
			    <th rowspan="<?php echo $rowspan ?>"></th>
			    <?php endif;?>
			    <?php if(Mage::helper('gomage_checkout')->getConfigData('address_fields/thumbnails')>0):?>
				<th rowspan="<?php echo $rowspan ?>"></th>
				<?php endif;?>
                <th rowspan="<?php echo $rowspan ?>"><span class="nobr"><?php echo $this->__('Product') ?></span></th>
                <?php if(Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/enable')>0):?>
                <th class="a-center" rowspan="<?php echo $rowspan ?>"><span class="nobr"><?php echo Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/title') ?></span></th>
                <?php endif; ?>
                <th colspan="<?php echo $colspan ?>"><?php echo $this->__('Price') ?></th>
                <th rowspan="<?php echo $rowspan ?>" class="a-center"><?php echo $this->__('Quantity') ?></th>
                <th colspan="<?php echo $colspan ?>" class="a-right"><?php echo $this->__('Total') ?></th>

            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                <tr>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                </tr>
            <?php endif; ?>
        </thead>
        <?php echo $this->getChildHtml('totals'); ?>
        <tbody>
        <?php foreach($this->getItems() as $_item): ?>
            <?php echo $this->getItemHtml($_item)?>
        <?php endforeach ?>
        </tbody>
    </table>
    <?php echo $this->getChildHtml('items_after'); ?>
</div>
<?php if($discount_position == 2): ?>
<div class="discount-bottom">
<?php { echo $this->getChildHtml('discount'); }; ?>
</div>
<?php endif;?>
<script type="text/javascript">
//<![CDATA[
    decorateTable('checkout-review-table');
    truncateOptions();
//]]>
</script>
