<!--@subject Currency Update Warnings @-->
<!--@vars
{"var warnings":"Currency Update Warnings"}
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<p style="font-size:12px; line-height:16px; margin:0;">
									Currency update warnings:<br>
								</p>
								<p style="font-size:12px; line-height:16px; margin: 10px 0 0 0;">
									{{var warnings}}
								</p>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>