{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Payment transaction failed.</h1>
								<p style="font-size:12px; line-height:16px; margin:0;">
									Hey,<br/>Take a look at my wishlist from {{var store.getFrontendName()}}.
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Reason</b><br />
									{{var reason}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Checkout Type</b><br />
									{{var checkoutType}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Customer:</b><br />
									<a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Items</b><br />
									{{var items}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Total:</b><br />
									{{var total}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Billing Address:</b><br />
									{{var billingAddress.format('html')}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Shipping Address:</b><br />
									{{var shippingAddress.format('html')}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Shipping Method:</b><br />
									{{var shippingMethod}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Payment Method:</b><br />
									{{var paymentMethod}}
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">
									<b>Date & Time:</b><br />
									{{var dateAndTime}}
								</p>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>