/* LOGIN
*******************************************************************************/
#page-login                             { background:#f8f8f8; text-align:center; }
.login-container                        { width:581px; margin:170px auto; padding-left:32px; background:url(images/login_logo.gif) no-repeat; }
.login-form                             { padding:27px 57px 35px 57px; background:url(images/login_box_bg.jpg) no-repeat; text-align:left; }
.login-form .input-left                 { float:left; }
.login-form .input-right                { float:right; }
.login-form .input-box input.input-text { width:224px; }
.login-form h2                          { font-size:1.7em; font-weight:normal; }
.login-form label                       { font-weight:bold; }
.login-form .form-buttons               { margin:12px 0 0 0; clear:both; text-align:right; }
.login-box .bottom                      { width:581px; height:5px; background:url(images/login_box_bottom.jpg) no-repeat; overflow:hidden; }
.login-container .legal                 { margin:0; background:url(images/login_box_legal_bg.gif) no-repeat; padding:8px 8px 5px 8px; font-size:.95em; }
.login-form .validation-advice          { margin:3px 0 0 0; }
.login-form .forgot-link                { margin:0 17px 0 0; text-align:right; }
.login-form .captcha                    { padding:10px 0 0; }
.login-form .captcha-image              { border:1px solid #aaa; margin:1.5em 0 0; position:relative; }
.login-form .captcha-image img          { vertical-align:bottom; }
.login-form .captcha-reload             { cursor:pointer; position: absolute; top:2px; right:2px; }
.login-form .captcha-reload.refreshing  { animation:rotate 1.5s infinite linear; -webkit-animation:rotate 1.5s infinite linear; -moz-animation:rotate 1.5s infinite linear; }

@-webkit-keyframes rotate {
    0% { -webkit-transform:rotate(0); }
    0% { -webkit-transform:rotate(360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform:rotate(0); }
    0% { -moz-transform:rotate(360deg); }
}
@keyframes rotate {
    0% { transform:rotate(0); }
    0% { transform:rotate(360deg); }
}

/*****************************************/
/******** ALIGNMENTS AND CLEARS **********/
/*****************************************/

/* Directional and spacial */
.f-left, .left      { float:left; }
.f-right, .right    { float:right; }
.v-top              { vertical-align:top; }
.v-middle           { vertical-align:middle !important; }
.v-bottom           { vertical-align:bottom; }
.a-left             { text-align:left !important; }
.a-center           { text-align:center !important; }
.a-right            { text-align:right !important; }
.nm                 { margin:0 !important; }
.np                 { padding:0 !important; }
.no-display         { display:none; }
.no-show            { display:none; }
.nowrap, .nobr      { white-space:nowrap; }
.wrap               { white-space:normal !important; }
.no-float           { float:none !important; }
.pointer            { cursor:pointer; }

/* Color */
.emph, .accent      { color:#eb5e00 !important; }
.subdue             { color:#306375; }

/* Font */
.bold               { font-weight:bold !important; }
.normal             { font-weight:normal !important; }

/* Clear */ /* This keeps our HTML free of buncha clearing elements */
.config-heading:after,
.side-col .switcher:after,
.message-popup .message-popup-head:after,
.message-popup .message-popup-content .message:after,
.login-form .form-buttons:after,
.wrapper:after,
.option-title:after,
.columns:after,
.main-col:after,
.content-header-floating:after,
.entry-edit .entry-edit-head:after,
.content-header:after,
.login-box .button-set:after,
ul.tabs-horiz:after,
.header-top:after,
dl.accordion dt:after,
.field-100:after,
.entry-edit fieldset li:after,
.entry-edit fieldset span.field-row:after,
.content:after,
#topnav:after,
.main:after,
.container:after,
.footer:after,
.middle:after,
.header:after,
.box-head:after,
div.actions:after,
.tier-container:after,
.clear:after,
.notification-global:after,
.files .row:after,
.files-wide .row:after,
.grid tr.filter .range .range-line:after,
.store-scope:after { display:block; clear:both; content:"."; font-size:0; line-height:0; height:0; overflow:hidden; }