/* page-login */

body#page-login {
	position: relative;
	top: 0;
	left: 0;
	padding: 48px 0 0;
	background-color: #FFFFFF;
	font: normal 12px/1 'Quicksand', Arial, Helvetica, sans-serif;
	color: #2A2A2A;
}

body#page-login:after {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	content: '';
	background-color: #EBEBEB;
	height: 24px;
}

h1 {
	overflow: hidden;
	margin: 0 auto;
	background: transparent url(../images/parosh_logo.png) no-repeat top left;
	text-indent: 209px;
	white-space: nowrap;
	width: 209px;
	height: 24px;
}

a,
a:hover {
	color: #BDBBBC;
	text-decoration: none;
}

div.login-container {
	margin: 41px auto 0;
	padding: 0;
	width: 932px;
}

div.login-container h2 {
	background: transparent url(../images/line.png) repeat-x center left;
	font-weight: normal;
	font-size: 24px;
	color: #990033;
	text-align: center;
	text-transform: uppercase;
}

div.login-container h2 span {
	display: inline-block;
	padding: 0 24px;
	background-color: #FFFFFF;
}

div.login-container div.login-box {
	position: relative;
	margin: 99px auto 0;
	padding: 0 0 11px;
	width: 645px;
}

div.login-container div.login-box .login-form {
	padding: 0;
}

div.login-container div.login-box .login-form div.input-box input {
	margin: 12px 0 0;
}

div.login-container div.login-box .login-form p {
	margin: 20px 0 0;
	color: #BDBBBC;
}

div.login-container div.login-box .login-form div.form-buttons input[type=submit],
div.login-container div.login-box .login-form div.form-buttons button {
	position: absolute;
	right: 0;
	bottom: 0;
}