/* form elements */

input, button, textarea, select {
	margin: 0;
	padding: 0;
	font: normal 12px/1 'Quicksand', Arial, Helvetica, sans-serif;
	color: #2A2A2A;
}

input[type=text],
input[type=password] {
	padding: 5px 2px;
	border: 1px solid #EBEBEB;
	height: 14px;
	width: 302px !important;
}

input[type=submit],
button {
	display: block;
	cursor: pointer;
	border: none;
	background: #2A2A2A none no-repeat top right;
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	min-width: 200px;
	height: 36px;
}

button {
	padding: 0 20px;
}

label {
	display: block;
	font-weight: normal !important;
}

label em {
	font-style: normal;
}

div.validation-advice {
	padding: 4px 0;
	font-size: 11px;
	color: #FF0000;
	text-align: left;
}

ul.messages {
	padding: 0 0 24px;
}

ul.messages li {
	margin: 12px 0 0;
}

ul.messages li:first-child {
	margin: 0;
}

ul.messages li span {
	display: block;
	padding: 3px 8px;
	background-color: #EBEBEB;
	line-height: 18px;
	text-transform: uppercase;
}

ul.messages li.notice-msg span {}

ul.messages li.success-msg span {
	padding: 3px 8px 3px 55px;
	background: #ECF6EE url(../images/success_icon.png) no-repeat 17px 50%;
	color: #45BB49;
}

ul.messages li.success-msg span a {
	color: #45BB49;
}

ul.messages li.error-msg span,
ul.messages li.error-msg span a {
	color: #BB454A;
}