<?php
$block = $this->getLayout()->createBlock('newsletter/subscribe')->setTemplate('newsletter/subscribe.phtml');
?>
<div class="widget widget-box widget-box-newsletter">
	<div class="widget-content">
		<?php echo $block->toHtml(); ?>
	</div>
</div>