<div class="widget widget-box widget-box-slider">
	<div class="widget-title">
		<h3><?php echo $this->htmlEscape($this->getTitle()); ?></h3>
	</div>
	<div class="widget-content">
		<div class="slider-wrapper">
			<div class="slider widget-slider">
				<ul>
					<?php foreach ($this->getImages() as $image): ?>
						<li>
							<a href="<?php echo $image['url']; ?>">
								<img src="<?php echo $image['image']; ?>" alt="" />
							</a>
						</li>
					<?php endforeach; ?>
				</ul>
			</div>
			<a class="slider-control slider-control-previous" href="#"></a>
			<a class="slider-control slider-control-next" href="#"></a>
		</div>
	</div>
</div>