<div class="widget widget-box widget-box-text">
	<div class="widget-title">
		<h3><?php echo $this->htmlEscape($this->getTitle()); ?></h3>
	</div>
	<div class="widget-content">
		<p><?php echo $this->htmlEscape($this->getText()); ?></p>
		<div class="button-container">
			<a class="button light-button" href="<?php echo $this->getUrl(); ?>" title="<?php echo $this->htmlEscape($this->getTitle()); ?>"><?php echo $this->htmlEscape($this->__('Discover')); ?></a>
		</div>
	</div>
</div>