<!--@subject {{var store.getFrontendName()}}: Credit Memo # {{var creditmemo.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var creditmemo.increment_id":"Credit Memo Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_creditmemo_items\" creditmemo=$creditmemo order=$order":"Credit Memo Items Grid",
"var comment":"Credit Memo Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Hello, <strong>{{htmlescape var=$order.getCustomerName()}}</strong></h1>
								<p style="font-size:12px; line-height:16px; margin:0;">
									Thank you for your order from {{var store.getFrontendName()}}.
									You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.
									If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
								</p>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 40px 26px; border-bottom: 1px solid #EBEBEB;">
								<p style="font-size: 14px;">Your Credit Memo #{{var creditmemo.increment_id}} for Order #{{var order.increment_id}}</p>
							</td>
						</tr>
						<tr>
							<td style="padding: 36px 26px; border-bottom: 1px solid #EBEBEB;">
								<table cellspacing="0" cellpadding="0" border="0" width="600">
									<thead>
										<tr>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Billing Information:</th>
											<th width="30"></th>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Payment Method:</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var order.billing_address.format('html')}}
											</td>
											<td>&nbsp;</td>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var payment_html}}
											</td>
										</tr>
									</tbody>
								</table>
								<br/>
								{{depend order.getIsNotVirtual()}}
								<table cellspacing="0" cellpadding="0" border="0" width="600">
									<thead>
										<tr>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Shipping Information:</th>
											<th width="30"></th>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Shipping Method:</th>
										</tr>
									</thead>
									 <tbody>
										<tr>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var order.shipping_address.format('html')}}
												&nbsp;
											</td>
											<td>&nbsp;</td>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var order.shipping_description}}
												&nbsp;
											</td>
										</tr>
									</tbody>
								</table>
								<br/>
								{{/depend}}
								{{layout handle="sales_email_order_creditmemo_items" creditmemo=$creditmemo order=$order}}
								<p style="font-size:12px; margin:0 10px 10px 0">{{var comment}}</p>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 26px">
								<center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>