<!--@subject {{var store.getFrontendName()}}: Invoice # {{var invoice.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Invoice Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Dear <strong>{{htmlescape var=$order.getCustomerName()}}</strong>,</h1>
								<p style="font-size:12px; line-height:16px; margin: 0 0 10px 0;">
									Your order # {{var order.increment_id}} has been <br/>
									<strong>{{var order.getStatusLabel()}}</strong>.
								</p>
								<p style="font-size:12px; line-height:16px; margin: 0 0 10px 0;">
									You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.
								</p>
								<p style="font-size:12px; line-height:16px; margin: 0 0 10px 0;">
									{{var comment}}
								</p>
								<p style="font-size:12px; line-height:16px; margin: 0 0 10px 0;">
									If you have any questions, please feel free to contact us at
									<a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
								</p>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 26px">
								<center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>