<?php
$_product = $this->getProduct();
$_attributes = Mage::helper('core')->decorateArray($this->getAllowAttributes());
$swatch_attributes = Mage::helper('colorselectorplus')->getSwatchAttributes();
$title = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/title', Mage::app()->getStore());
$hide = Mage::getStoreConfig('color_selector_plus/colorselectorplusgeneral/hidedropdown', Mage::app()->getStore());
$availableAttributes = Mage::helper('catalog')->getAvailableAttributes($_product);
$helper = Mage::helper('parosh_settings');
$sizeChartImage = Mage::getStoreConfig('parosh_settings/media/size_chart_image');
?>

<?php if ($_product->isSaleable() && count($_attributes)): ?>
    <?php if ($sizeChartImage): ?>
        <a id="size-chart-label" href="#"><?php echo $this->__('Size information'); ?></a>
    <?php endif; ?>

    <dl>
        <?php foreach ($_attributes as $_attribute): ?>
            <?php $_productAttribute = $_attribute->getProductAttribute(); ?>

            <?php if (in_array($_productAttribute->getAttributeCode(), $swatch_attributes)): ?>
                <?php $attributeId = $_attribute->getAttributeId(); ?>
                <dt>
                <label class="required"><em>*</em><?php echo $_attribute->getLabel() ?></label>
                <?php if ($hide == 1) { ?> - <label id="divattribute<?php echo $attributeId ?>" class="swatchLabel"><?php echo $title ?></label><?php } ?>
                </dt>

                <?php foreach ($availableAttributes as $productAttribute): ?>
                    <?php if ($productAttribute['label'] == $_attribute->getLabel()): ?>
                        <dd<?php if ($productAttributeValue->decoratedIsLast) { ?> class="last"<?php } ?>>
                            <div class="input-box">
                                <?php foreach ($productAttribute['values'] as $index => $productAttributeValue): ?>
                                    <?php if (TRUE): ?>
                                        <input type="radio" id="super_attribute[<?php echo $_attribute->getAttributeId() ?>]_<?php echo $index ?>" name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" value="<?php echo $productAttributeValue['value_index'] ?>" class="<?php echo ($index == key(array_slice($_productAttribute['values'], -1, 1, TRUE))) ? 'validate-one-required-by-name ' : ''; ?> super-attribute-radio <?php if ($hide == 1) echo ' swatchRadio' ?>" data-ref="attribute<?php echo $_attribute->getAttributeId() ?>"/>
                                        <label for="super_attribute[<?php echo $_attribute->getAttributeId() ?>]_<?php echo $index ?>"><?php echo $this->_($productAttributeValue['label']) ?></label>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </div>
                            <div class="hidden-helper-select">
                                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                                    <option><?php echo $this->__('Choose an Option...') ?></option>
                                </select>
                            </div> 
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>

                <?php echo Mage::helper('colorselectorplus')->getSwatchHtml($_productAttribute->getAttributeCode(), $attributeId, $_product); ?>

            <?php else: ?>
                <dt><label class="required"><?php echo $this->__($_attribute->getLabel()) ?></label></dt>

                <?php foreach ($availableAttributes as $productAttribute): ?>
                    <?php if ($productAttribute['attribute_id'] == $_attribute->getAttributeId()): ?>
                        <dd<?php if ($productAttribute->decoratedIsLast) { ?> class="last"<?php } ?>>
                            <div class="input-box radio-container" id="size-wrapper">
                                <?php foreach ($productAttribute['values'] as $index => $productAttributeValue): ?>
                                    <input type="radio" id="super_attribute[<?php echo $_attribute->getAttributeId() ?>]_<?php echo $index ?>" name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" value="<?php echo $productAttributeValue['value_index'] ?>" class="<?php echo ($index == key(array_slice($_productAttribute['values'], -1, 1, TRUE))) ? 'validate-one-required-by-name ' : ''; ?>super-attribute-radio" data-ref="attribute<?php echo $_attribute->getAttributeId() ?>"/>
                                    <label for="super_attribute[<?php echo $_attribute->getAttributeId() ?>]_<?php echo $index ?>"><?php echo $this->__($productAttributeValue['label']) ?></label>
                                <?php endforeach; ?>
                            </div>
                            <div class="hidden-helper-select">
                                <select name="super_attribute[<?php echo $_attribute->getAttributeId() ?>]" id="attribute<?php echo $_attribute->getAttributeId() ?>" class="required-entry super-attribute-select">
                                    <option><?php echo $this->__('Choose an Option...') ?></option>
                                </select>
                            </div>
                            <?php if (strpos($_productAttribute->getAttributeCode(), 'size') !== false): ?>
                                <?php echo $this->getChildHtml('catalog.product.sizes') ?>
                            <?php endif; ?>
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl> 
    <p class="availability preordernote" id="preordernote"></p>
    <script type="text/javascript">
        var spConfig = new Product.Config(<?php echo $this->getJsonConfig() ?>);
    </script>
<?php endif; ?>

<div id="preorder-container" class="overlay">
    <div class="overlay-title">
        <h5><?php echo $this->__('Preorder Title'); ?></h5>
        <span class="overlay-close-button"></span>
    </div>
    <div class="overlay-content">
        <?php
        $blockIsActive = Mage::getModel('cms/block')->load('preorder-popup')->getIsActive();
        if ($blockIsActive) {
            echo $this->getLayout()->createBlock('cms/block')->setBlockId('preorder-popup')->toHtml();
        }
        ?>
    </div>
</div>
