<?php
$helper = Mage::helper('parosh_settings');
$sizeChartImage = Mage::getStoreConfig('parosh_settings/media/size_chart_image');
?>
<div class="footer-container">
    <div class="footer">
        <div id="footer-links" class="clear-float">
            <div id="customer-care" class="first">
                <h4><?php echo $this->htmlEscape($this->__('Customer care')); ?></h4>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('footer_links')->toHtml(); ?>
                <?php if ($sizeChartImage): ?>
                    <div id="size-chart-container" class="overlay">
                        <div class="overlay-title">
                            <h5><?php echo $this->__('Size information'); ?></h5>
                            <span class="overlay-close-button"></span>
                        </div>
                        <div class="overlay-content">
                            <img class="size-chart-image" src="<?php echo $helper->getMediaUrl($sizeChartImage); ?>" alt="" />
                        </div>
                    </div>
                <?php endif; ?>
            </div>
            <?php echo $this->getChildHtml('store_language'); ?>
            <div id="social">
                <h4><?php echo $this->htmlEscape($this->__('Follow us')); ?></h4>
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('follow_us')->toHtml(); ?>
            </div>
            <div id="parosh-experience" class="last">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('parosh_experience')->toHtml(); ?>
            </div>
        </div>
        <div id="copyright"><?php echo $this->htmlEscape($this->getCopyright()); ?></div>
        <div id="credits">
            <a href="http://filoblu.com/">FiloBlu S.r.l.</a>
        </div>
    </div>
</div>