<div class="header-container">
    <div class="header">
        <div class="logo-container">
            <h1><a name="top" href="<?php echo $this->getUrl(''); ?>" title="<?php echo $this->getLogoAlt(); ?>"><img src="<?php echo $this->getLogoSrc(); ?>" alt="" /></a></h1>
        </div>
        <?php echo $this->getChildHtml('topMenu'); ?>
        <?php /* 	
          <div class="header-left-image">
          <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_left_image')->toHtml(); ?>
          </div>
          <div class="header-right-image">
          <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('header_right_image')->toHtml(); ?>
          </div>
         */
        ?>
        <div class="quick-access">
            <?php /* echo $this->getChildHtml('topSearch'); */ ?>
            <p class="welcome-msg"><?php echo $this->getChildHtml('welcome') ?></p>
            <?php echo $this->getChildHtml('topLinks'); ?>
            <?php echo $this->getChildHtml('store_language_header'); ?>
            <?php echo $this->getChildHtml('top_cart'); ?>
        </div>
        <?php echo $this->getChildHtml('topContainer'); ?>
        <?php $cookieConsent = $this->getLayout()->createBlock('cms/block')->setBlockId('cookie_consent')->toHtml(); ?>
        <div id="cookie-consent-container" class="overlay">
            <div class="overlay-content">
                <div class="overlay-title">
                    <span class="overlay-close-button"></span>
                </div>
                <?php echo $cookieConsent; ?>
            </div>
        </div>
    </div>
</div>