<div class="pager">
	<label><?php echo $this->__('Page') ?></label>
	<div class="drop-down pager-drop-down">
		<?php foreach ($this->getPages() as $_page): ?>
			<?php if ($this->isPageCurrent($_page)): ?>
				<div class="items">
					<a href="#" class="selected-item"><?php echo $_page; ?></a>
					<ul>
						<?php foreach ($this->getPages() as $_page): ?>
							<li<?php echo ($this->isPageCurrent($_page)) ? ' class="selected-item"' : ''; ?>>
								<a href="<?php echo $this->getPageUrl($_page); ?>" title="<?php echo $_page; ?>">
									<?php echo $_page; ?>
								</a>
							</li>
						<?php endforeach;?>
					</ul>
				</div>
				<div class="item-count">
					<?php echo $this->__("of %s", $this->getLastPageNum()); ?>
				</div>
			<?php endif; ?>
		<?php endforeach;?>
	</div>
</div>