<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Caro/a <strong>{{htmlescape var=$customer.name}}</strong>,</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">E' stata inviata una richiesta di cambio password per il tuo account.</p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Se hai richiesto questo cambio password, clicca il seguente link per reimpostare la password: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Se il link non dovesse funzionare, copia e incolla l'URL nel tuo browser.</p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0;">Se non hai fatto questa richiesta, puoi ignorare questo messaggio e la tua password rimarrà la stessa.</p>
                            </td>
                        </tr>
                        <tr>
							<td align="center" style="text-align:center;"><center><p style="font-size:12px; margin: 10px;">
								Grazie ancora, <strong>{{var store.getFrontendName()}}</strong></p></center>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>