<!--@subject Benvenuto/a, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Caro/a <strong>{{htmlescape var=$customer.name}}</strong>,</h1>
								<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Benvenuto/a in {{var store.getFrontendName()}}. Per autenticarti quando visiti il nostro sito, premi <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> or <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">My Account</a> in cima ad ogni pagina, e quindi digita la tua e-mail e la tua password.</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Una volta autenticato, potrai:</p>
								<ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Procedere più velocemente al checkout durante un acquisto</li>
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verificare lo stato degli ordini</li>
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Visualizzare ordini passati</li>
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificare le tue informazioni account</li>
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificare la tua password</li>
									<li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Salvare indirizzi alternativi (per spedire in maniera multipla a familiari e amici!)</li>
								</ul>
								<p style="font-size:12px; line-height:16px; margin:0;">Per qualsiasi domanda inerente il tuo account o per ogni altra questione, contattaci pure all'indirizzo <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.</p>
							</td>
						</tr>
						<tr>
							<td align="center" style="text-align:center;"><center><p style="font-size:12px; margin: 10px;">
								Grazie ancora, <strong>{{var store.getFrontendName()}}</strong></p></center>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>