<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getBillingAddress().getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#FFFFFF; color: #696969; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
	<div style="background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
		<table cellspacing="0" cellpadding="0" border="0" width="100%">
			<tr>
				<td align="center" valign="top">
					<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
						<!-- [ header starts here] -->
						<tr height="72" style="background: #EBEBEB;">
							<td valign="center" style="text-align: center;">
								<a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a>
							</td>
						</tr>
						<!-- [ middle starts here] -->
						<tr>
							<td valign="top" style="padding: 46px 26px; border-bottom: 1px solid #EBEBEB;">
								<h1 style="font-size:12px; font-weight:normal; line-height:12px; margin:0;">Ciao, <strong>{{htmlescape var=$order.getBillingAddress().getName()}}</strong></h1>
								<p style="font-size:12px; line-height:16px; margin:0;">
									Grazie per il tuo ordine da {{var store.getFrontendName()}}.
									Una volta che il pacco verrà spedito ti invieremo una email con un link per tracciare il tuo ordine.
									Per qualsiasi domanda riguardo il tuo ordine contattaci pure all'indirizzo <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.
								</p>
							</td>
						</tr>
						<tr>
							<td valign="top" style="padding: 40px 26px; border-bottom: 1px solid #EBEBEB;">
								<p style="font-size: 14px;">La conferma del tuo ordine è qui sotto.</p>
								<h2 style="margin:0; font-size:18px; font-weight: bold; text-transform: uppercase;">Grazie ancora per il tuo interesse.</h2>
								<p style="font-size: 14px;">Il tuo ordine numero {{var order.increment_id}} (creato il {{var order.getCreatedAtFormated('long')}})</p>
							</td>
						</tr>
						<tr>
							<td style="padding: 36px 26px; border-bottom: 1px solid #EBEBEB;">
								<table cellspacing="0" cellpadding="0" border="0" width="650">
									<thead>
										<tr>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Informazioni fatturazione</th>
											<th width="30"></th>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Metodo di pagamento</th>
										</tr>
									</thead>
									<tbody>
									<tbody>
										<tr>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
											{{var order.getBillingAddress().format('html')}}
											</td>
											<td>&nbsp;</td>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var payment_html}}
											</td>
										</tr>
									</tbody>
								</table>
								<br/>
								{{depend order.getIsNotVirtual()}}
								<table cellspacing="0" cellpadding="0" border="0" width="650">
									<thead>
										<tr>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Informazioni spedizione:</th>
											<th width="30"></th>
											<th align="left" width="285" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;">Metodo di spedizione:</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
											{{var order.getShippingAddress().format('html')}}
											&nbsp;
											</td>
											<td>&nbsp;</td>
											<td valign="top" style="padding: 12px 5px 12px 0; font-size:11px;">
												{{var order.getShippingDescription()}}
												&nbsp;
											</td>
										</tr>
									</tbody>
								</table>
								<br/>
								{{/depend}}
								{{layout handle="sales_email_order_items" order=$order}}
								<p style="font-size:12px; margin:0 0 10px 0">{{var order.getEmailCustomerNote()}}</p>
							</td>
						</tr>
						<!-- [ footer starts here] -->
						<tr>
							<td bgcolor="#2A2A2A" align="center" style="padding: 5px 5px 8px; text-align: left;">
								<p style="color: #E5E5E5; font-size:10px; margin:0 0 0 10px;">
									&copy; 2014 P.A.R.O.S.H. - P.Iva e Cod. Fisc. 09895310150 . All Rights Reserved</strong>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>