<label for="<?php echo $this->getPrefix();?>_country_id" class="required"><?php echo $this->__('Country') ?> <em>*</em></label>
<div class="input-box input-box-country <?php echo $this->getPrefix();?>-country">
    <?php echo $this->getCountryHtmlSelect($this->getPrefix()); ?>
</div>