<?php
	$input_name 	= $this->getInputName();
	$input_id		= $this->getInputId();
	$input_value	= $this->getValue();
	$input_class	= $this->getInputClass();
	$label_class	= $this->getLabelClass();

	$required		= $this->getIsRequired();
	$validation_type = $this->getValidationType();
	$label			= $this->getLabel();


	$input_class .= ' input-text ';

	if($required){

		if(!$validation_type){
			$input_class .= 'required-entry absolute-advice'.' ';
		}else{
			$input_class .= $validation_type.' ';
		}

		$label_class .= ' required ';

	}

?>
<label for="<?php echo $input_id;?>" class="<?php echo $label_class;?>"><?php if($required):?><?php endif;?><?php echo $this->__($label); ?> <em>*</em></label>
<div class="input-box <?php echo $input_id;?>">
    <input type="text" name="<?php echo $input_name;?>" id="<?php echo $input_id;?>" value="<?php echo $this->htmlEscape($input_value) ?>" title="<?php echo $this->__($label); ?>" class="<?php echo $input_class;?>" />
</div>