<?php
$index = $this->getIndex();
$_countries = Mage::getResourceModel('directory/country_collection')->loadByStore()->toOptionArray();
?>
<div class="block block-subscribe">
    <div class="block-title">
        <strong><span><?php echo $this->__('Subscribe Newsletter'); ?></span></strong>
    </div>
    <div class="block-content">
        <form action="<?php echo $this->getFormActionUrl(); ?>" method="post" id="newsletter-validate-detail-<?php echo $index; ?>">
            <div class="fieldset">
                <ul class="form-list">
                    <li>
                        <label for="newsletter_firstname_<?php echo $index; ?>"><?php echo $this->__('First Name'); ?> <em>*</em></label>
                        <div class="input-box">
                            <input type="text" name="firstname" id="newsletter_firstname_<?php echo $index; ?>" title="<?php echo $this->__('First Name'); ?>" class="input-text required-entry validate-alpha" />
                        </div>
                    </li>
                    <li>
                        <label for="newsletter_lastname_<?php echo $index; ?>"><?php echo $this->__('Last Name'); ?> <em>*</em></label>
                        <div class="input-box">
                            <input type="text" name="lastname" id="newsletter_lastname_<?php echo $index; ?>" title="<?php echo $this->__('Last Name'); ?>" class="input-text validate-alpha required-entry" />
                        </div>
                    </li>
                    <li class="hidden-separator"></li>
                    <li>
                        <label for="newsletter_email_<?php echo $index; ?>"><?php echo $this->__('Email'); ?> <em>*</em></label>
                        <div class="input-box">
                            <input type="text" name="email" id="newsletter_email_<?php echo $index; ?>" title="<?php echo $this->__('Email'); ?>" class="input-text required-entry validate-email" />
                        </div>
                    </li>
                    <li class="fields field-dob">
                        <label for="newsletter_dob_day"><?php echo $this->__('Date of birth'); ?></label>
                        <div class="date" id="newsletter-dob-<?php echo $index; ?>">
                            <div class="field date-day">
                                <div class="input-box dob-day">
                                    <input type="text" name="dob_day" id="newsletter_dob_day_<?php echo $index; ?>" title="<?php echo $this->__('Day'); ?>" maxlength="2" placeholder="<?php echo $this->__('dd') ?>" class="input-text" />
                                </div>
                            </div>
                            <div class="field date-month">
                                <div class="input-box dob-month">
                                    <input type="text" name="dob_month" id="newsletter_dob_month_<?php echo $index; ?>" title="<?php echo $this->__('Month'); ?>" maxlength="2" placeholder="<?php echo $this->__('mm') ?>" class="input-text" />
                                </div>
                            </div>
                            <div class="field date-year">
                                <div class="input-box dob-year">
                                    <input type="text" name="dob_year" id="newsletter_dob_year_<?php echo $index; ?>" title="<?php echo $this->__('Year'); ?>" maxlength="4" placeholder="<?php echo $this->__('yyyy') ?>" class="input-text" />
                                </div>
                            </div>
                            <div class="field date-full">
                                <div class="input-box dob-full">
                                    <input type="hidden" name="dob_full" id="newsletter_dob_full_<?php echo $index; ?>" class="input-text validate-date" />
                                </div>
                            </div>
                            <div class="validation-advice" style="display:none;"></div>
                        </div>
                    </li>
                    <li class="hidden-separator"></li>
                    <li>
                        <label for="newsletter_country_<?php echo $index; ?>"><?php echo $this->__('Country'); ?></label>
                        <div class="input-box">
                            <select name="country" id="newsletter_country_<?php echo $index; ?>">
                                <?php foreach ($_countries as $_country): ?>
                                    <option value="<?php echo $_country['value'] ?>">
                                        <?php echo $_country['label'] ?>
                                    </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </li>
                    <li class="control control-privacy">
                        <input type="checkbox" name="privacy" id="newsletter_privacy_<?php echo $index; ?>" title="<?php echo $this->__('I accept privacy policy'); ?>" class="input-checkbox required-entry" value="1" />
                        <label for="newsletter_privacy_<?php echo $index; ?>"><?php echo $this->__('I accept <a class="privacy-link" href="%s">Privacy Policy</a>', $this->getUrl('') . 'privacy-policy'); ?> <em>*</em></label>
                    </li>
                </ul>
            </div>

            <div class="buttons-set">
                <p class="required"><?php echo $this->__('* Required fields'); ?></p>
                <button type="submit" title="<?php echo $this->__('Send'); ?>" class="button"><span><span><?php echo $this->__('Send'); ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail-<?php echo $index; ?>');
//            var customer_dob = new Varien.DOB('.date', true, '%Y-%m-%d');

            jq('input#newsletter_dob_day_<?php echo $index; ?>, input#newsletter_dob_month_<?php echo $index; ?>, input#newsletter_dob_year_<?php echo $index; ?>').on('change', function () {
                var day = jq('input#newsletter_dob_day_<?php echo $index; ?>').val();
                var month = jq('input#newsletter_dob_month_<?php echo $index; ?>').val();
                var year = jq('input#newsletter_dob_year_<?php echo $index; ?>').val();

                if (day && month && year) {
                    jq('input#newsletter_dob_full_<?php echo $index; ?>').val([year, month, day].join('-'));
                }
            });
            //]]>
        </script>
    </div>
</div>