<?php
$iris = $this->getIris();
$stores = $this->getStoresFromAttributes();
$attributesByCode = $this->getAttributesByCode();
$actionSku = $iris->getSku();
$actionId = $iris->getId();
$inventoryCollection = $this->getInventoryHistoryBySku($actionSku);
?>

<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>

<div class="grid">
    <table class="data" cellspacing="0">
        <colgroup>
            <col class="a-center">
            <?php foreach ($stores as $store): ?>
                <col class="a-center">
            <?php endforeach; ?>
        </colgroup>
        <thead>
            <tr class="headings">
                <th>
                    <span class="nobr">
                        <a class="not-sort" title="asc" name="store_attribute_code" href="#">
                            <span class="store_attribute_code">attribute_code</span>
                        </a>
                    </span>
                </th>
                <?php foreach ($stores as $store): ?>
                    <th>
                        <span class="nobr">
                            <a class="not-sort" title="asc" name="store_<?php echo $store; ?>" href="#">
                                <span class="store_<?php echo $store; ?>">store_<?php echo $store; ?></span>
                            </a>
                        </span>
                    </th>
                <?php endforeach; ?>
            </tr>
        </thead>
        <tbody>
            <?php
            $i = 0;
            foreach ($attributesByCode as $attribute_code => $storeAttribute):
                ?>
                <tr class="<?php
                if ($i % 2 == 0)
                    echo 'odd';
                else
                    echo 'even';
                ?>">
                    <td><?php echo $attribute_code; ?></td>
                    <?php foreach ($stores as $store): ?>
                        <?php if (isset($storeAttribute[$store])) : ?>
                            <?php $attribute = $storeAttribute[$store]; ?>
                            <td><?php echo $attribute->getValue(); ?></td>
                        <?php else: ?>
                            <td></td>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </tr>
                <?php
                $i++;
            endforeach;
            ?>
        </tbody>
    </table>
</div>

<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>