/* block-cart */

div.block-cart {
	padding: 26px 0 0;
	background-color: #EBEBEB;
	width: 267px;
}

div.block-cart div.block-title {
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}

div.block-cart div.block-content {
	padding: 0 14px 16px;
}

div.block-cart div.block-content p.empty {
	margin: 14px 0 0;
	font-size: 11px;
	line-height: 18px;
	text-align: center;
}

div.block-cart div.block-content ol li {
	padding: 20px 0;
	border-bottom: 1px solid #DADADA;
	background: transparent url(../images/line.png) repeat-x bottom left;
}

div.block-cart div.block-content ol li:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.block-cart div.block-content ol li a.product-image {
	float: left;
	width: 74px;
}

div.block-cart div.block-content ol li div.product-details {
	float: left;
	font-size: 11px;
	line-height: 18px;
	text-align: right;
	text-transform: uppercase;
	width: 145px;
}

div.block-cart div.block-content ol li div.product-details div.item-options:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.block-cart div.block-content ol li div.product-details div.item-options dl.item-option {
	float: right;
	clear: both;
}

div.block-cart div.block-content ol li div.product-details div.item-options dl.item-option dt {
	float: left;
	clear: both;
}

div.block-cart div.block-content ol li div.product-details div.item-options dl.item-option dt:after {
	content: ':';
}

div.block-cart div.block-content ol li div.product-details div.item-options dl.item-option dd {
	float: left;
	margin: 0 0 0 5px;
}

div.block-cart div.block-content div.summary p.subtotal {
	margin: 18px 0 0;
	text-align: right;
	text-transform: uppercase;
}

div.block-cart div.block-content div.actions {
	margin: 23px 0 0;
}

div.block-cart div.block-content div.actions button {
	text-align: center;
	text-indent: 0;
	width: 238px;
}

div.block-cart div.block-content a.cart-link {
	display: block;
	margin: 21px 0 0;
	text-align: right;
	text-transform: uppercase;
}

/* block-subscribe */

div.block-subscribe {
	display: none;
	overflow: hidden;
	padding: 10px 0 0;
	background-color: #EBEBEB;
	width: 326px;
	height: 235px;
}

div#widget-box-container div.block-subscribe {
	display: block;
}

div.block-subscribe div.block-title {
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}

div.block-subscribe div.block-content {
	margin: -3px 0 0;
	padding: 0 23px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list {
	margin: 0 0 0 -11px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li {
	float: left;
	margin: 0 0 0 10px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.hidden-separator {
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li label {
	margin: 10px 0 6px !important;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li div.input-box input[type=text] {
	padding: 4px 2px;
	border: 1px solid #DADADA;
	width: 129px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li div.input-box select {
	padding: 3px 3px 3px 0;
	border: 1px solid #DADADA;
	width: 135px;
	height: 24px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li div.validation-advice {
	padding: 4px 0 0;
	font-size: 8px;
	width: 135px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields label {
	text-align: center;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date {
	margin: 0 0 0 -10px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date > div {
	float: left;
	margin: 0 0 0 10px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date div.date-day div.input-box input[type=text],
div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date div.date-month div.input-box input[type=text] {
	text-align: center;
	width: 28px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date div.date-year div.input-box input[type=text] {
	text-align: center;
	width: 41px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.fields div.date div.date-full {
	clear: both;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.control-privacy {
	position: absolute;
	top: 212px;
	left: 12px;
}

div.block-subscribe div.block-content div.fieldset ul.form-list li.control-privacy label {
	margin: 0 0 0 5px !important;
	font-size: 10px;
}

div.block-subscribe div.block-content div.buttons-set p.required {
	position: absolute;
	top: 175px;
	left: 168px;
	font-size: 10px;
	white-space: nowrap;
}

div.block-subscribe div.block-content div.buttons-set button {
	position: absolute;
	right: 24px;
	bottom: 12px;
	background-color: #BCBCBC;
	background-image: url(../images/light_button.png);
}