
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    border: 1px solid #888;
    margin:-4px;	/* Set this to minus the border thickness. */
    background-color:#fff;
    cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
    border:1px solid #ccc;
    overflow:hidden;
    background-repeat:no-repeat;
    background-color:#fff;
    background-position:left top;
}

/* This is the loading message. */
.cloud-zoom-loading {
	display: none !important;
    color:white;
    background:#222;
    padding:3px;
    border:1px solid #000;
    margin-top:150px;
}

.product-view .product-img-box .product-image-zoom {
   overflow:visible;
}

