/* col1-layout */

div.col1-layout div.col-main div.page-title {
    position: absolute;
    top: -24px;
    left: 0;
    margin: 0 24px;
    background: transparent url(../images/line.png) repeat-x center left;
    text-align: center;
    width: 930px;
}

div.col1-layout div.col-main div.page-title h1 {
    display: inline-block;
    padding: 0 24px;
    background-color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
    color: #990033;
    text-transform: uppercase;
}

/* col2-left-layout */

div.col2-left-layout div.col-left {
    float: left;
    width: 200px;
}

div.col2-left-layout div.col-main {
    float: right;
    width: 730px;
}

div.col2-left-layout div.col-main div.page-title,
div.col2-left-layout div.col-main div.page-head {
    position: absolute;
    top: -24px;
    left: 0;
    margin: 0 24px;
    background: transparent url(../images/line.png) repeat-x center left;
    text-align: center;
    width: 930px;
}

div.col2-left-layout div.col-main div.page-title h1,
div.col2-left-layout div.col-main div.page-head h3 {
    display: inline-block;
    padding: 0 24px;
    background-color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
    color: #990033;
    text-transform: uppercase;
}

/* col-main */

div.col-main {
    padding: 16px 0 0;
}

div.col-main div.page-title + p,
div.col-main div.cart-empty p {
    line-height: 18px;
}

/* table.data-table */

table.data-table tr th {
    text-transform: uppercase;
    white-space: nowrap;
}

table.data-table tr th,
table.data-table tr td {
    vertical-align: top;
}

table.data-table tr th.a-center,
table.data-table tr td.a-center {
    text-align: center !important;
}

table.data-table tr th.a-right,
table.data-table tr td.a-right {
    text-align: right !important;
}

table.data-table tr th span.nobr,
table.data-table tr td span.nobr {
    white-space: nowrap;
}

/* dl.sp-methods */

dl.sp-methods {
    margin: 24px 0 0;
}

dl.sp-methods dt {
    margin: 24px 0 0;
}

dl.sp-methods dd ul li {
    margin: 14px 0 0;
}

dl.sp-methods dd ul li:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

dl.sp-methods dd ul li input {
    float: left;
}

dl.sp-methods dd ul li label {
    float: left;
    margin: 0 0 0 16px !important;
}

/* control */

.control {
    margin: 15px 0 0;
}

.control:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

.control input {
    float: left;
}

.control label {
    float: left;
    margin: 0 0 0 14px !important;
}

.control label a {
    text-decoration: underline;
    text-transform: lowercase;
}

/* cms-index-noroute */

body.cms-index-noroute div.col-main {
    padding: 42px 0 0;
}

body.cms-index-noroute div.col-main h2 {
    font-size: 18px;
    text-transform: uppercase;
}

body.cms-index-noroute div.col-main p {
    margin: 5px 0 0;
    line-height: 22px;
}

body.cms-index-noroute div.col-main ul {
    margin: 0 0 18px;
}

body.cms-index-noroute div.col-main ul li {
    padding: 0 0 0 12px;
    background: transparent url(../images/small_bullet.png) no-repeat center left;
    line-height: 22px;
}

body.cms-index-noroute div.col-main div.links {
    padding: 24px 0 0;
    background: transparent url(../images/line.png) repeat-x top left;
}

body.cms-index-noroute div.col-main div.links:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.cms-index-noroute div.col-main div.links a {
    float: left;
    margin: 0 15px 0 0;
    background-color: #E9E9E9;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 215px;
}

body.cms-index-noroute div.col-main div.links a.last {
    background-color: #2A2A2A;
    color: #FFFFFF;
}

body.cms-index-noroute div.col-main div.links span.separator {
    display: none;
}

/* cms-index-index */

body.cms-index-index div.main-container {
    padding: 0;
    background-image: none;
}

body.cms-index-index div.main {
    margin: 0px auto;
    width: 978px;
}

body.cms-index-index div.col-main div.page-title {
    display: none;
}

body.cms-index-index div.footer {
    padding-top: 48px;
}

body.cms-index-index div.footer:before {
    display: none;
}

/* customer-account-login */

body.customer-account-login div.col-main {
    padding: 38px 0 0;
}

body.customer-account-login div.col-main h2 {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

body.customer-account-login div.col-main h2 + p {
    margin: 6px 0 0;
    line-height: 18px;
}

body.customer-account-login div.col-main div.account-login {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 25px 114px 0;
    background: transparent url(../images/line.png) repeat-y top right;
    width: 585px;
}

body.customer-account-login div.col-main div.account-login:after {
    position: absolute;
    overflow: hidden;
    content: '';
    right: 25px;
    bottom: 25px;
    left: 0;
    background: transparent url(../images/line.png) repeat-x top left;
    height: 1px;
}

body.customer-account-login div.col-main div.account-login:last-of-type {
    padding-bottom: 89px;
}

body.customer-account-login div.col-main div.account-login:last-of-type:after {
    display: none;
}

body.customer-account-login div.col-main div.account-login button,
body.customer-account-login div.col-main div.account-login .button {
    position: absolute;
    right: 25px;
    bottom: 49px;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    width: 200px;
    height: 24px;
}

body.customer-account-login div.col-main div.account-login:last-of-type button,
body.customer-account-login div.col-main div.account-login:last-of-type .button {
    bottom: 24px;
}

body.customer-account-login div.col-main div.facebook-login button {
    background-color: #3B5998;
}

body.customer-account-login div.col-main div.twitter-login .button {
    background-color: #4399CD;
}

body.customer-account-login div.col-main div.registered-users {
    position: absolute;
    top: 0;
    left: 634px;
    padding: 0 0 61px;
    width: 295px;
}

body.customer-account-login div.col-main div.registered-users li {
    margin: 10px 0 18px;
}

body.customer-account-login div.col-main div.registered-users div.input-box {
    margin: 13px 0 0;
}

body.customer-account-login div.col-main div.registered-users input[type=text],
body.customer-account-login div.col-main div.registered-users input[type=password] {
    width: 289px;
}

body.customer-account-login div.col-main div.registered-users p.required {
    margin: 20px 0 0;
    font-size: 11px;
    color: #BDBBBC;
}

body.customer-account-login div.col-main div.registered-users div.buttons-set a {
    display: block;
    margin: 13px 0 0;
    font-size: 11px;
    color: #BDBBBC;
}

body.customer-account-login div.col-main div.registered-users div.buttons-set button {
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 36px;
    width: 213px;
    height: 36px;
}

/* customer-account-forgotpassword */

body.customer-account-forgotpassword div.col-main {
    padding: 62px 0 0;
}

/* customer-account-page */

body.customer-account-page div.col-left {
    margin: 18px 0 0;
    width: 175px;
}

body.customer-account-page div.col-left div.block-account div.block-title {
    font-size: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-left div.block-account ul {
    margin: 18px 0 0;
}

body.customer-account-page div.col-left div.block-account ul li {
    line-height: 18px;
}

body.customer-account-page div.col2-left-layout div.col-main {
    margin: 18px 0 0;
    padding: 0 0 0 25px;
    background: transparent url(../images/line.png) repeat-y top left;
    width: 730px;
}

body.customer-account-page div.col-main div.title-buttons {
    position: absolute;
    top: 18px;
    right: 24px;
    line-height: 18px;
}

body.customer-account-page div.col-main div.title-buttons a {
    color: #BDBBBC;
}

body.customer-account-page div.col-main div.title-buttons a.link-reorder {
    color: #990033;
}

body.customer-account-page div.col-main div.title-buttons button {
    background-color: transparent;
    font-size: 12px;
    line-height: 18px;
    color: #BDBBBC;
    text-transform: none;
    text-indent: 0;
    min-width: auto;
    height: auto;
}

body.customer-account-page div.col-main div.welcome-msg p.hello strong {
    font-weight: bold;
}

body.customer-account-page div.col-main div.welcome-msg p.hello + p {
    margin: 3px 0 0;
    padding: 0 0 21px;
    background: transparent url(../images/line.png) repeat-x bottom left;
    line-height: 18px;
}

body.customer-account-page div.col-main div.box-head {
    position: relative;
    top: 0;
    left: 0;
}

body.customer-account-page div.col-main div.box-head h2 {
    margin: 24px 0 0;
    font-size: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.box-head a {
    position: absolute;
    top: 0;
    right: 0;
    color: #BDBBBC;
    line-height: 18px;
}

body.customer-account-page div.col-main div.pager {
    line-height: 18px;
}

body.customer-account-page div.col-main div.pager:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.customer-account-page div.col-main div.pager label {
    float: left;
}

body.customer-account-page div.col-main div.pager label:after {
    content: ':';
}

body.customer-account-page div.col-main div.pager div.items span.selected-item {
    display: none;
}

body.customer-account-page div.col-main div.pager div.items ul:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.customer-account-page div.col-main div.pager div.items ul li {
    float: left;
    margin: 0 0 0 5px;
}

body.customer-account-page div.col-main div.pager div.items ul li a {
    color: #939393;
}

body.customer-account-page div.col-main div.pager div.items ul li.selected-item a {
    color: #2A2A2A;
}

body.customer-account-page div.col-main div.pager div.item-count {
    display: none;
}

body.customer-account-page div.col-main table.data-table {
    margin: 5px 0 20px;
    width: 100%;
}

body.customer-account-page div.col-main table.data-table th,
body.customer-account-page div.col-main table.data-table td {
    padding: 11px 0;
    background: transparent url(../images/line.png) repeat-x bottom left;
    line-height: 18px;
    text-align: left;
}

body.customer-account-page div.col-main table.data-table td h3.product-name,
body.customer-account-page div.col-main table.data-table td h4.product-name {
    text-transform: uppercase;
}

body.customer-account-page div.col-main table.data-table td dl.item-options dt {
    float: left;
    clear: left;
}

body.customer-account-page div.col-main table.data-table td dl.item-options dt:after {
    content: ':';
}

body.customer-account-page div.col-main table.data-table td dl.item-options dd {
    float: left;
    margin: 0 0 0 5px;
}

body.customer-account-page div.col-main table.data-table tfoot td {
    padding: 0;
    background-image: none;
    line-height: 18px;
}

body.customer-account-page div.col-main table.data-table tfoot tr.grand_total td {
    text-transform: uppercase;
}

body.customer-account-page div.col-main table.data-table tbody tr.first td {
    padding-top: 26px;
}

body.customer-account-page div.col-main div.col2-set:after,
body.customer-account-page div.col-main div.col2-set div.box-content:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.customer-account-page div.col-main div.col2-set div.col-1 {
    float: left;
    width: 306px;
}

body.customer-account-page div.col-main div.col2-set div.col-2 {
    float: right;
    width: 306px;
}

body.customer-account-page div.col-main div.col2-set div.box-title {
    position: relative;
    top: 0;
    left: 0;
    margin: 25px 0 0;
    padding: 0 0 14px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.customer-account-page div.col-main div.col2-set div.box-title h2,
body.customer-account-page div.col-main div.col2-set div.box-title h3 {
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.col2-set div.box-title a {
    position: absolute;
    top: 0;
    right: 0;
    color: #BDBBBC;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.col2-set div.box-content h4 {
    margin: 10px 0 0;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.col2-set div.box-content p,
body.customer-account-page div.col-main div.col2-set div.box-content address {
    margin: 10px 0 0;
    line-height: 18px;
}

body.customer-account-page div.col-main div.col2-set div.box-content p + table tr td {
    line-height: 18px;
}

body.customer-account-page div.col-main div.col2-set div.box-content p a,
body.customer-account-page div.col-main div.col2-set div.box-content address a {
    display: block;
    margin: 6px 0 0;
    color: #BDBBBC;
}

body.customer-account-page div.col-main div.fieldset + div.fieldset {
    margin: 24px 0 0;
}

body.customer-account-page div.col-main div.fieldset h2 {
    font-size: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.fieldset > p {
    margin: 7px 0 0;
    line-height: 18px;
}

body.customer-account-page div.col-main div.fieldset ul.form-list {
    margin: 25px 0 0;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li label {
    margin: 18px 0 0;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li div.input-box {
    margin: 13px 0 0;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li div.input-box input[type=text],
body.customer-account-page div.col-main div.fieldset ul.form-list li div.input-box input[type=password] {
    width: 306px;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li div.input-box textarea {
    width: 298px;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li div.input-box select {
    width: 312px;
}

body.customer-account-page div.col-main div.fieldset ul.form-list li > strong {
    line-height: 18px;
}

body.customer-account-page div.col-main div.addresses-list h1 {
    font-size: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.addresses-list h2 {
    margin: 25px 0 0;
    padding: 0 0 14px;
    background: transparent url(../images/line.png) repeat-x bottom left;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.addresses-list ol li h3 {
    margin: 10px 0 0;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.addresses-list ol li p,
body.customer-account-page div.col-main div.addresses-list ol li address {
    margin: 10px 0 0;
    line-height: 18px;
}

body.customer-account-page div.col-main div.addresses-list ol li p a {
    color: #BDBBBC;
}

body.customer-account-page div.col-main dl.order-info dt {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-main dl.order-info dd {
    margin: 10px 0 0;
}

body.customer-account-page div.col-main dl.order-info dd ul li {
    line-height: 18px;
}

body.customer-account-page div.col-main dl.order-info dd ul li a {
    color: #939393;
}

body.customer-account-page div.col-main p.order-date {
    margin: 24px 0 0;
}

body.customer-account-page div.col-main div.order-items {
    position: relative;
    top: 0;
    left: 0;
}

body.customer-account-page div.col-main div.order-items p.order-links {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 18px;
}

body.customer-account-page div.col-main div.order-items p.order-links a {
    color: #BDBBBC;
}

body.customer-account-page div.col-main div.order-items h2 {
    margin: 24px 0 0;
    font-size: 18px;
    text-transform: uppercase;
}

body.customer-account-page div.col-main div.order-items h3.table-caption {
    margin: 24px 0 0;
    text-transform: uppercase;
}

body.customer-account-page div.col-main dl.gift-message {
    margin: 24px 0 0;
}

body.customer-account-page div.col-main dl.gift-message dt,
body.customer-account-page div.col-main dl.gift-message dd {
    margin: 10px 0 0;
    line-height: 18px;
}

body.customer-account-page div.col-main div.buttons-set {
    margin: 20px 0 0;
}

body.customer-account-page div.col-main div.buttons-set:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.customer-account-page div.col-main div.buttons-set p.required {
    margin: 20px 0 23px;
    font-size: 11px;
    color: #696969;
}

body.customer-account-page div.col-main div.buttons-set a {
    float: left;
    margin: 0 15px 0 0;
    background-color: #E9E9E9;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 215px;
}

body.customer-account-page div.col-main div.buttons-set button {
    float: left;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    width: 215px;
    height: 24px;
}

/* awrma-customer-rma-new */

body.customer-account-page div.col-main table#awrma-items-ordered-table tr td input.awrma-items-count {
    width: 40px;
}

body.customer-account-page div.col-main table#awrma-items-ordered-table tr td a.btn-remove2 {
    display: block;
    overflow: hidden;
    background: transparent url(../images/remove.png) no-repeat center left;
    text-indent: 10px;
    white-space: nowrap;
    width: 10px;
}

body.customer-account-page div.col-main table#awrma-items-ordered-table tr td.last {
    padding-left: 20px;
}

/* awrma-customer-rma-view */

body.awrma-customer-rma-view div.col-main div.fieldset ul.form-list li.fields div.field {
    line-height: 18px;
}

body.awrma-customer-rma-view div.col-main div.fieldset ul.form-list li.fields div.field strong {
    text-transform: uppercase;
}

body.awrma-customer-rma-view div.col-main h4 {
    margin: 24px 0 0;
    font-size: 18px;
    text-transform: uppercase;
}

body.awrma-customer-rma-view div.col-main ul.awrma-comments-list li {
    margin: 20px 0 0;
    line-height: 18px;
}

/* wishlist-index-index */

body.wishlist-index-index div.col-main table#wishlist-table tr td textarea {
    margin: 12px 0 0;
    width: 300px;
    height: 80px;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.price-box p.old-price {
    font-size: 11px;
    color: #BCBCBC;
    text-decoration: line-through;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.size-box {
    margin: 12px 0 0;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td input[type=text] {
    margin: 12px 0 0;
    text-align: center;
    width: 26px;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options {
    position: relative;
    top: 0;
    left: 0;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options div.tooltip {
    display: none;
    position: absolute;
    top: 12px;
    left: 145px;
    padding: 6px;
    background-color: #FFFFFF;
    border: 1px solid #EBEBEB;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options div.tooltip p {
    line-height: 18px;
    text-transform: uppercase;
    white-space: nowrap;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options div.tooltip dl dt {
    float: left;
    clear: left;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options div.tooltip dl dt:after {
    content: ':';
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options div.tooltip dl dd {
    float: left;
    margin: 0 0 0 5px;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td div.item-options:hover div.tooltip {
    display: block;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td button {
    margin: 12px 0 0;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    width: 157px;
    height: 24px;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td a.details,
body.wishlist-index-index div.col-main table#wishlist-table tr td a.link-edit {
    display: block;
    margin: 12px 0 0;
    background-color: #E9E9E9;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    width: 157px;
    height: 24px;
}

body.wishlist-index-index div.col-main table#wishlist-table tr td a.btn-remove {
    display: block;
    overflow: hidden;
    background: transparent url(../images/remove.png) no-repeat center left;
    text-indent: 10px;
    white-space: nowrap;
    width: 10px;
}

body.wishlist-index-index div.col-main div.buttons-sets:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.wishlist-index-index div.col-main div.buttons-sets div.buttons-set {
    float: left;
}

body.wishlist-index-index div.col-main div.buttons-sets div.buttons-set2 {
    float: right;
}

body.wishlist-index-index div.col-main div.buttons-sets div.buttons-set2 button {
    float: none;
    margin: 12px 0 0;
    background-color: #EBEBEB;
    color: #2A2A2A;
    width: 330px;
}

body.wishlist-index-index div.col-main div.buttons-sets div.buttons-set2 button.btn-add {
    margin: 0;
    background-color: #2A2A2A;
    font-size: 18px;
    line-height: 36px;
    color: #FFFFFF;
    height: 36px;
}

/* catalog-category-view */

body.catalog-category-view div.col-left {
    width: 232px;
}

body.catalog-category-view div.col-left div.block-layered-nav {
    margin: 23px 0 0;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-title {
    display: none;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content > p {
    display: none;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.currently p {
    line-height: 24px;
    text-transform: uppercase;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.currently p:after {
    display: block;
    content: '';
    background: transparent url(../images/line.png) repeat-x 0 6px;
    height: 14px;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.currently ol:after {
    display: block;
    content: '';
    background: transparent url(../images/line.png) repeat-x 0 18px;
    height: 34px;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.currently ol li {
    position: relative;
    top: 0;
    left: 0;
    line-height: 24px;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.currently ol li a {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    background: transparent url(../images/remove.png) no-repeat center left;
    text-indent: 10px;
    white-space: nowrap;
    width: 10px;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.actions {
    text-align: right;
}

body.catalog-category-view div.col-left div.block-layered-nav div.block-content div.actions:after {
    display: block;
    content: '';
    background: transparent url(../images/line.png) repeat-x 0 18px;
    height: 34px;
}

body.catalog-category-view div.col-left dl#narrow-by-list {
    line-height: 24px;
}

body.catalog-category-view div.col-left dl#narrow-by-list dt {
    text-transform: uppercase;
}

body.catalog-category-view div.col-left dl#narrow-by-list dd:after {
    display: block;
    content: '';
    background: transparent url(../images/line.png) repeat-x 0 18px;
    height: 34px;
}

body.catalog-category-view div.col-left dl#narrow-by-list dd ol li a {}

body.catalog-category-view div.col-left div.category-description {
    padding: 6px 0 0;
    color: #434343;
}

body.catalog-category-view div.col-left div.category-description h2 {
    text-transform: uppercase;
}

body.catalog-category-view div.col-left div.category-description p {
    margin: 6px 0 0;
    line-height: 24px;
}

body.catalog-category-view div.col-main {
    padding: 20px 0 0;
    width: 675px;
}

body.catalog-category-view div.col-main div.category-description {
    margin: 0 0 24px;
    line-height: 18px;
}

body.catalog-category-view div.col-main div.category-products div.toolbar {
    position: relative;
    top: 0;
    left: 0;
    background: transparent url(../images/line.png) repeat-x top left;
    line-height: 58px;
}

body.catalog-category-view div.col-main div.category-products div.toolbar:before {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: transparent url(../images/line.png) repeat-x top left;
    height: 1px;
}

body.catalog-category-view div.col-main div.category-products div.toolbar:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.pager {
    float: left;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.pager:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.sorter {
    float: right;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.sorter:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.back-to-top {
    display: none;
    float: right;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.back-to-top a {
    padding: 0 27px 0 0;
    background: transparent url(../images/arrow_up.png) no-repeat center right;
    text-transform: uppercase;
}

body.catalog-category-view div.col-main div.category-products div.toolbar label {
    float: left;
    text-transform: uppercase;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down {
    float: left;
    margin: 0 0 0 12px;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.items {
    position: relative;
    float: left;
    cursor: pointer;
    top: 0;
    left: 0;
    text-transform: lowercase;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.items a.selected-item {
    display: block;
    padding: 0 27px 0 0;
    background: transparent url(../images/arrow_down.png) no-repeat center right;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.items ul {
    display: none;
    position: absolute;
    top: 57px;
    right: 0;
    z-index: 10;
    padding: 7px 0 3px;
    border: 1px solid #EBEBEB;
    background-color: #FFFFFF;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.items ul li a {
    display: block;
    padding: 0 17px;
    font-size: 11px;
    line-height: 24px;
    color: #434343;
    text-transform: uppercase;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.items:hover ul {
    display: block;
}

body.catalog-category-view div.col-main div.category-products div.toolbar div.drop-down div.item-count {
    float: left;
    margin: 0 0 0 9px;
    text-transform: uppercase;
}

body.catalog-category-view div.col-main div.category-products div.bottom-toolbar div.toolbar {
    top: -1px;
}

body.catalog-category-view div.col-main div.category-products div.bottom-toolbar div.sorter {
    display: none;
}

body.catalog-category-view div.col-main div.category-products div.bottom-toolbar div.back-to-top {
    display: block;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    padding: 24px 0 0;
    background: transparent url(../images/line.png) repeat-x bottom left;
    text-align: center;
    width: 225px;
    height: 405px;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li a img {
    display: inline;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li h2 {
    position: absolute;
    top: 369px;
    right: 0;
    left: 0;
    font-size: 11px;
    text-transform: uppercase;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li div.product-price-size-details {
    position: absolute;
    top: 384px;
    right: 0;
    left: 0;
    font-size: 11px;
    line-height: 18px;
    white-space: nowrap;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li div.product-price-size-details div.price-box p {
    display: inline-block;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li div.product-price-size-details div.price-box p + p {
    margin: 0 0 0 5px;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li div.product-price-size-details div.price-box p.old-price span.price {
    color: #BCBCBC;
    text-decoration: line-through;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li div.product-price-size-details div.size-box {
    display: none;
}

body.catalog-category-view div.col-main div.category-products ul.products-grid li:hover div.product-price-size-details div.size-box {
    display: block;
}



/* catalog-product-view */

body.catalog-product-view div.col-main {
    padding: 15px 0 0;
}

body.catalog-product-view div.col-main:before {
    position: absolute;
    top: -9px;
    right: 24px;
    left: 24px;
    content: '';
    background: transparent url(../images/line.png) repeat-x top left;
    height: 1px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box {
    float: left;
    width: 580px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box div.more-views {
    float: left;
    margin: 18px 0 24px 42px;
    width: 60px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box div.more-views ul li {
    margin: 0 0 7px;
    padding: 0 0 1px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box div.more-views ul li.active {
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box p.product-image {
    float: right;
    margin: 0 0 24px;
    text-align: center;
    width: 478px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-img-box p.product-image > *:first-child {
    display: inline-block;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data {
    float: right;
    margin: 0 0 24px;
    width: 350px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-name h1 {
    font-size: 18px;
    color: #990033;
    text-transform: uppercase;
    margin-bottom:7px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.price-box {
    margin: 33px 0 0;
    font-size: 14px;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.price-box:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.price-box p {
    float: left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.price-box p + p {
    margin: 0 0 0 10px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.price-box p.old-price span.price {
    display: block;
    margin: 2px 0 0;
    font-size: 11px;
    color: #BCBCBC;
    text-decoration: line-through;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs {
    margin: 22px 0 0;
    padding: 0 0 17px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul {
    padding: 24px 0 0;
    background: transparent url(../images/line.png) repeat-x top left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul li.product-tab {
    float: left;
    color: #BCBCBC;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul li.product-tab:before {
    float: left;
    padding: 0 7px;
    content: '|';
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul li.product-tab:first-child:before {
    display: none;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul li.product-tab a {
    float: left;
    padding: 0 0 16px;
    color: #BCBCBC;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs ul li.product-tab-active a {
    background: transparent url(../images/product_tab_arrow.png) no-repeat 50% 19px;
    color: #2A2A2A;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs div.product-tab-content {
    display: none;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs div.product-tab-content h2 {
    display: none;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs div.product-tab-content p {
    line-height: 24px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs div.product-tab-content p.product-sku {
    text-transform: lowercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-tabs div.product-tab-content-active {
    display: block;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper .collateral-box{
    display: block;
    clear:both;
    padding-top:10px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 22px 0 0;
    padding: 0 0 18px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper a#size-chart-label {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 2px;
    right: -2px;
    background: transparent url(../images/size_chart_icon.png) no-repeat top left;
    text-indent: 18px;
    white-space: nowrap;
    width: 18px;
    height: 18px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dt {
    margin: 15px 0 0;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd {
    margin: 15px 0 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd input {
    display: none;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd label {
    float: left;
    cursor: pointer;
    margin: 0 5px 0 0;
    line-height: 24px;
    text-align: center;
    min-width: 12px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd input[type=radio]:checked + label {
    margin: 0;
    padding: 0 5px;
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    min-width: 12px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom {
    padding: 0 0 25px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom div.add-to-cart {
    margin: 24px 0 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom div.add-to-cart button {
    background-image: url(../images/dark_button.png);
    line-height: 34px;
    text-align: center;
    text-indent: 0;
    width: 350px;
    height: 34px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom ul.add-to-links li {
    margin: 12px 0 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom ul.add-to-links li span.separator {
    display: none;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-shop div.add-to-box ul.add-to-links li a,
body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-options-bottom ul.add-to-links li a {
    display: block;
    background-color: #EBEBEB;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share {
    margin: 23px 0 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share h3 {
    float: left;
    margin: 0 19px 0 0;
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li {
    float: left;
    margin: 0 10px 0 0;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li a {
    display: block;
    overflow: hidden;
    background: transparent none no-repeat top left;
    font-size:0;
    white-space: nowrap;
    width: 20px;
    height: 20px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li a:hover{
    background-size: 20px;
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-pinterest a {
    background-image: url(../images/social/pinterest.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-pinterest a:hover {
    background-image: url(../images/social/pinterest_over.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-facebook a {
    background-image: url(../images/social/facebook.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-facebook a:hover {
    background-image: url(../images/social/facebook_over.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-twitter a {
    background-image: url(../images/social/twitter.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div.product-share ul li#product-share-twitter a:hover {
    background-image: url(../images/social/twitter_over.png);
}

body.catalog-product-view div.col-main div.product-view div.product-collateral {}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell {
    position: relative;
    top: 0;
    left: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.upsell-product-title {
    background: transparent url(../images/line.png) repeat-x center left;
    text-align: center;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.upsell-product-title h2 {
    display: inline-block;
    padding: 0 24px;
    background-color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 900px;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper div.slider ul {
    position: relative;
    top: 0;
    left: 0;
    width: 20000em;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper div.slider ul:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper div.slider ul li {
    float: left;
    padding: 27px 0 19px;
    text-align: center;
    width: 180px;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper div.slider ul li img {
    display: inline-block;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper div.slider ul li h3.product-name {
    margin: 28px 0 0;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper a.slider-control-previous {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: transparent url(../images/product_slider_previous.png) no-repeat center center;
    width: 15px;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper a.slider-control-next {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent url(../images/product_slider_next.png) no-repeat center center;
    width: 15px;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper a.slider-control-disabled {
    opacity: 0.3;
}

body.catalog-product-view .hidden-helper-select select {
    visibility: hidden;
    height: 0;
}


body.catalog-product-view  .preordernote {
    margin-top: 10px;

}

body.catalog-product-view .preordernote .ampreorder_note {
    background: transparent url("../images/size_chart_icon.png") no-repeat right top;
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 19px;
    cursor:pointer;
}

/* checkout-cart-index */

body.checkout-cart-index div.col-main {
    padding: 16px 0 0;
}

body.checkout-cart-index .discount-form button {
    width: 48%!important;
}

body.checkout-cart-index div.col-main div.title-buttons {
    position: relative;
    top: 0;
    left: 0;
    height: 24px;
}

body.checkout-cart-index div.col-main div.title-buttons button.btn-continue {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EBEBEB;
    font-size: 11px;
    line-height: 24px;
    color: #2A2A2A;
    text-align: center;
    text-indent: 0;
    width: 310px;
    height: 24px;
}

body.checkout-cart-index div.col-main div.title-buttons ul.checkout-types li button.btn-checkout {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    width: 310px;
    height: 24px;
}

body.checkout-cart-index div.col-main table#shopping-cart-table {
    margin: 46px 0 0;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr th {
    padding: 0 0 7px;
    background: transparent url(../images/line.png) repeat-x bottom left;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td {
    padding: 31px 0 29px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td h2.product-name {
    margin: -4px 0 0;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td p.product-sku {
    line-height: 25px;
    text-transform: lowercase;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td dl.item-options {
    line-height: 25px;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td dl.item-options dt {
    float: left;
    clear: left;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td dl.item-options dt:after {
    content: ':';
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td dl.item-options dd {
    float: left;
    margin: 0 0 0 5px;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td p.item-msg {
    clear: both;
    line-height: 18px;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td p.error {
    color: #FF0000;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td input[type=text] {
    margin: -7px 0 0 16px;
    padding: 8px 2px;
    text-align: center;
    width: 26px;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td button {
    margin: 3px 0 0 4px;
    background-color: transparent;
    font-size: 11px;
    line-height: 1;
    color: #2A2A2A;
    text-transform: lowercase;
    text-indent: 0;
    min-width: 0;
    height: auto;
}

body.checkout-cart-index div.col-main table#shopping-cart-table tr td a.btn-remove {
    display: block;
    overflow: hidden;
    background: transparent url(../images/remove.png) no-repeat center left;
    text-indent: 10px;
    white-space: nowrap;
    width: 10px;
}

body.checkout-cart-index div.col-main div.cart-collaterals {
    margin: 24px 0 0;
}

body.checkout-cart-index div.col-main div.cart-collaterals:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.checkout-cart-index div.col-main div.cart-collaterals h2 {
    font-size: 18px;
    text-transform: uppercase;
}

body.checkout-cart-index div.col-main div.cart-collaterals p {
    margin: 3px 0 23px;
    line-height: 18px;
}

body.checkout-cart-index div.col-main div.cart-collaterals label {
    margin: 18px 0 13px;
}

body.checkout-cart-index div.col-main div.cart-collaterals input[type=text] {
    width: 288px;
}

body.checkout-cart-index div.col-main div.cart-collaterals select {
    width: 294px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.buttons-set {
    margin: 22px 0 0;
    text-align: right;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.buttons-set button {
    display: inline-block;
    background-color: #E9E9E9;
    font-size: 11px;
    line-height: 24px;
    color: #2A2A2A;
    text-align: center;
    text-indent: 0;
    width: 200px;
    height: 24px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.col2-set {
    float: left;
    margin: 0 0 0 -24px;
    width: 636px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.col2-set:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.col2-set div.col-2 div.discount {
    float: left;
    margin: 0 0 0 24px;
    width: 294px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.col2-set div.col-2 div.shipping {
    float: left;
    margin: 0 0 0 24px;
    width: 294px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.col2-set div.col-2 div.shipping dl.sp-methods dt {
    display: none;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals {
    float: left;
    margin: 0 0 0 24px;
    width: 294px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals table#shopping-cart-totals-table {
    margin: 38px 0 0;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals table#shopping-cart-totals-table tbody tr td {
    padding: 3px 0;
    line-height: 18px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals table#shopping-cart-totals-table tfoot tr td {
    padding: 50px 0 0;
    background: transparent url(../images/line.png) repeat-x 0 20px;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals table#shopping-cart-totals-table tfoot tr:last-child td {
    text-transform: uppercase;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals ul.checkout-types {
    margin: 29px 0 0;
}

body.checkout-cart-index div.col-main div.cart-collaterals div.totals ul.checkout-types li button {
    color: #E9E9E9;
    text-align: center;
    text-indent: 0;
    width: 294px;
    height: 36px;
}

/* gomage-checkout-onepage-index */

body.gomage-checkout-onepage-index div.col-main {
    padding: 13px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc-login-and-paypal {
    padding: 0 0 23px;
    background: transparent url(../images/line.png) repeat-x bottom left;
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc-login-and-paypal strong {
    font-weight: bold;
}

body.gomage-checkout-onepage-index div.col-main div.glc {
    margin: -3px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc h2.glc-title {
    margin: 24px 0 0;
    font-size: 18px;
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc h2.glc-title span.glc-number:after {
    content: '. ';
}

body.gomage-checkout-onepage-index div.col-main div.glc div.glc-col label {
    margin: 18px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div.glc-col div.input-box {
    margin: 13px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div.glc-col div.input-box input[type=text],
body.gomage-checkout-onepage-index div.col-main div.glc div.glc-col div.input-box input[type=password] {
    width: 288px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div.glc-col div.input-box select {
    width: 294px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address {
    float: left;
    width: 294px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields {
    margin: 0 0 0 -14px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields div.field {
    float: left;
    margin: 0 0 0 14px;
    width: 140px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields div.field label {
    margin: 22px 0 0;
    white-space: nowrap;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields div.field div.input-box input[type=text],
body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields div.field div.input-box input[type=password] {
    width: 134px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-address div.glc-col ul li.fields div.field div.input-box select {
    width: 140px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods {
    float: right;
    width: 612px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.shipping-methods {
    float: left;
    width: 294px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.shipping-methods div.glc-col dl.sp-methods dt {
    display: none;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods {
    float: right;
    width: 294px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt {
    position: relative;
    top: 0;
    left: 0;
    margin: 14px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt input {
    float: left;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt label {
    float: left;
    margin: 0 0 0 16px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt.p_method_paypal_standard a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 44px 0 0;
    background: transparent url(../images/paypal.png) no-repeat center right;
    font-style: italic;
    font-size: 10px;
    line-height: 13px;
    color: #939393;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dt.p_method_ccsave label:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    background: transparent url(../images/credit_cards.png) no-repeat center left;
    width: 156px;
    height: 13px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li.form-alt {
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li label {
    float: none;
    margin: 18px 0 0 !important;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li div.input-box {
    float: none;
    margin: 13px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li div.input-box:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li div.input-box div.v-fix {
    float: left;
    margin: 0 0 0 14px;
    width: 140px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li div.input-box div.v-fix:first-child {
    margin: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-methods div.payment-methods div.glc-col dl.sp-methods dd ul.form-list li div.input-box div.v-fix select {
    width: 140px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review {
    float: right;
    width: 612px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table {
    margin: 25px 0 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr th {
    padding: 0 0 33px;
    background: transparent url(../images/line.png) repeat-x 0 18px;
    text-align: left;
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tbody tr td {
    padding: 0 0 13px;
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td h3.product-name {
    font-size: 11px;
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td p.product-sku {
    font-size: 11px;
    text-transform: lowercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td dl.item-options {
    font-size: 11px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td dl.item-options dt {
    float: left;
    clear: left;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td dl.item-options dt:after {
    content: ':';
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tr td dl.item-options dd {
    float: left;
    margin: 0 0 0 5px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tfoot tr td {
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tfoot tr td:first-child {
    padding: 0 0 0 395px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tfoot tr.first td {
    padding-top: 29px;
    background: transparent url(../images/line.png) repeat-x 0 10px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review table#checkout-review-table tfoot tr.last td {
    padding-top: 26px;
    background: transparent url(../images/checkout_line.png) no-repeat top right;
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom {
    margin: 20px 0 0;
    padding: 21px 0 0;
    background: transparent url(../images/line.png) repeat-x top left;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom h3 {
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom label {
    float: left;
    line-height: 26px;
    width: 220px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom div.input-box {
    float: left;
    width: 180px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom div.input-box input {
    width: 174px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.discount-bottom button {
    float: right;
    margin: 1px 0 0;
    background-color: #E9E9E9;
    font-size: 12px;
    line-height: 24px;
    color: #2A2A2A;
    text-align: center;
    text-indent: 0;
    width: 200px;
    height: 24px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options {
    margin: 25px 0 0;
    padding: 7px 0 0;
    background: transparent url(../images/line.png) repeat-x top left;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 0 40px 92px;
    background: transparent url(../images/line.png) repeat-x bottom left;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage h4 {
    margin: 16px 0 0;
    text-transform: uppercase;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage p {
    margin: 13px 0 0;
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage img.gift-wrapping-thumbnail {
    position: absolute;
    top: 2px;
    left: -7px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage a#gift-wrapping-image-label {
    display: block;
    position: absolute;
    top: 81px;
    left: 0;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 66px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage div#gift-wrapping-image-container {
    display: none;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage a#write-your-message-label {
    display: block;
    position: absolute;
    top: 53px;
    left: 346px;
    margin: 0;
    line-height: 18px;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options div#gomage-lightcheckout-giftmessage p.control {
    float: none;
    line-height: 1;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options * > p.control,
body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options p.control + * {
    clear: both;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.advanced-options p.control {
    float: right;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.button-set {
    margin: 14px 0 0;
    text-align: right;
}

body.gomage-checkout-onepage-index div.col-main div.glc div#gcheckout-onepage-review div.button-set button {
    display: inline-block;
    margin: 10px 0 0;
    color: #E9E9E9;
    text-align: center;
    text-indent: 0;
    width: 315px;
}

/* checkout-onepage-success */

body.checkout-onepage-success div.col-main {
    padding: 14px 0 0;
    min-height: 282px;
}

body.checkout-onepage-success div.col-main h2 {
    line-height: 18px;
}

body.checkout-onepage-success div.col-main p {
    line-height: 18px;
}

body.checkout-onepage-success div.col-main p.order-number {
    margin: 23px 0 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #423E3F;
    text-transform: uppercase;
}

body.checkout-onepage-success div.col-main p.order-number a {
    font-weight: normal;
}

body.checkout-onepage-success div.col-main p.print-order {
    margin: 22px 0 0;
}

body.checkout-onepage-success div.col-main p.print-order a {
    text-decoration: underline;
}

body.checkout-onepage-success div.col-main div.checkout-success-image {
    position: absolute;
    top: -2px;
    right: 37px;
}

/* cms-page-view */

body.cms-page-view div.col-main strong {
    font-weight: bold;
}

body.cms-page-view div.col-main em {
    font-style: italic;
}

body.cms-page-view div.col-main h2 {
    margin: 15px 0 0;
    padding: 0 0 0 18px;
    background: transparent url(../images/large_bullet.png) no-repeat center left;
    line-height: 15px;
    text-transform: uppercase;
}

body.cms-page-view div.col-main p {
    margin: 15px 0 0;
    line-height: 15px;
}

body.cms-page-view div.col-main a {
    color: #BCBCBC;
}

/* btn-checkout */

button.btn-checkout span.large-label {
    display: block;
    margin: -8px 0 0;
}

button.btn-checkout span.small-label {
    display: block;
    margin: -10px 0 0;
    line-height: 12px;
    font-size: 10px;
    text-transform: none;
}