/* fonts */

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-regular-webfont.eot');
	src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand-regular-webfont.woff') format('woff'),
		url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
		url('../fonts/quicksand-regular-webfont.svg#QuicksandRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-italic-webfont.eot');
	src: url('../fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand-italic-webfont.woff') format('woff'),
		url('../fonts/quicksand-italic-webfont.ttf') format('truetype'),
		url('../fonts/quicksand-italic-webfont.svg#QuicksandItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}*/

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-bold-webfont.eot');
	src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand-bold-webfont.woff') format('woff'),
		url('../fonts/quicksand-bold-webfont.ttf') format('truetype'),
		url('../fonts/quicksand-bold-webfont.svg#QuicksandBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/*@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/quicksand-bolditalic-webfont.eot');
	src: url('../fonts/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/quicksand-bolditalic-webfont.woff') format('woff'),
		url('../fonts/quicksand-bolditalic-webfont.ttf') format('truetype'),
		url('../fonts/quicksand-bolditalic-webfont.svg#QuicksandBoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}*/