div.footer-container {
  background: #5A5A5A;
  color: #ffffff;
  margin-top: 20px; }
  div.footer-container:before {
    display: none; }
  div.footer-container .footer {
    padding-top: 20px !important;
    padding-bottom: 40px !important; }
    div.footer-container .footer:before {
      display: none; }
    div.footer-container .footer div#footer-languages,
    div.footer-container .footer div#social,
    div.footer-container .footer #parosh-experience {
      margin-top: 23px; }
      div.footer-container .footer div#footer-languages ul,
      div.footer-container .footer div#social ul,
      div.footer-container .footer #parosh-experience ul {
        margin-top: 15px; }
      div.footer-container .footer div#footer-languages#parosh-experience p,
      div.footer-container .footer div#social#parosh-experience p,
      div.footer-container .footer #parosh-experience#parosh-experience p {
        margin: 15px 0 0 0px; }
        div.footer-container .footer div#footer-languages#parosh-experience p a,
        div.footer-container .footer div#social#parosh-experience p a,
        div.footer-container .footer #parosh-experience#parosh-experience p a {
          background: none;
          background: #FFFFFF;
          color: #5A5A5A;
          text-align: center;
          font-size: 12px;
          line-height: 29px;
          height: auto;
          display: inline-block;
          float: right;
          min-width: 142px; }
    div.footer-container .footer div#social ul li a {
      background: none;
      background-size: cover; }
  div.footer-container ul li a {
    color: #FFFFFF; }
