div.footer-container{
    &:before{
        display: none;
    }
    background: #5A5A5A;
    color:#ffffff;
    margin-top: 20px;
    .footer{
        &:before{
            display: none;
        }
        padding-top:20px !important;
        padding-bottom:40px !important;
        div#footer-languages,
        div#social,
        #parosh-experience{
            margin-top: 23px;
            ul{
                margin-top: 15px;
            }
            &#parosh-experience{
                p{
                    margin:15px 0 0 0px;
                    a{
                        background: none;
                        background: #FFFFFF;
                        color: #5A5A5A;
                        text-align:center;
                        font-size: 12px;
                        line-height: 29px;
                        height:auto;
                        display: inline-block;
                        float: right;
                        min-width: 142px;
                    }
                }
            }
        }
        div#social{
            ul{
                li{
                    a{
                        background: none;
                        background-size:cover;
                    }
                }
            }
        }
    }
    ul{
        li{
            a{
                color: #FFFFFF;
            }
        }
    }
}