div.header-container{
    padding:30px 20px;
    height:auto;
    &:before{
        display: none;
    }
    .header{
        padding:0;
        .logo-container{
            display:inline-block;
            vertical-align: middle;
            width:21%;
            h1{
                position:relative;
                top:auto;
                height:auto;
                a{
                    width: auto;
                    height:auto;
                    img{
                        width:136px;
                    }
                }
            }
        }
        .nav-container{
            display:inline-block;
            margin:0;
            vertical-align: middle;
            width:56%;
            top:2px;
            ul#nav{
                width: 100%;
                li{
                    a{
                        font-size: 11px;
                        padding:5px 10px;
                        line-height: inherit;
                    }
                    &.level-top ul{
                        top:20px;
                        min-width: 155px;
                    }
                }
            }
        }
        .quick-access{
            vertical-align: middle;
            display:inline-block;
            position: relative;
            width:22%;
            >div.block-cart,
            >.current-lang,
            >.switch-lang{
                display:none;
            }
            ul.links{
                float:right;
                >ul{
                    display:none;
                }
                >li{
                    display: inline-block;
                    &:hover{
                        >a{
                            background: none;
                            color:#5A5A5A;
                        }
                    }
                    >a{
                        line-height: normal;
                        font-size: 15px;
                        padding:5px 10px 7px;
                    }
                    &#account-top-link .icon-account{
                        background: url(../images/header-login.svg) center center;
                        background-size: 100% 100%;
                        width: 16px;
                        height: 16px;
                        display:block;
                    }
                    &#cart-top-link{
                        position:relative;
                        .icon-cart{
                            background: url(../images/header-cart.svg) center center;
                            background-size: 100% 100%;
                            width: 16px;
                            height: 16px;
                            display:block;
                        }
                        .count{
                            position:absolute;
                            bottom:2px;
                            right:-3px;
                            font-size:11px;
                        }
                    }
                    &#help-top-link{
                        >a{
                            padding-right:0px;
                            pointer-events: none;
                        }
                        .icon-help{
                            background: url(../images/header-help.svg) center center;
                            background-size: 100% 100%;
                            width: 16px;
                            height: 16px;
                            display:block;
                        }
                        ul{
                            background: #EBEBEB;
                        }
                    }
                    >ul,
                    .block-cart{
                        top:27px;
                    }
                    &.current-lang{
                        text-align: center;
                        background:#5A5A5A;
                        border-radius:50%;
                        -webkit-border-radius:50%;
                        -moz-border-radius:50%;
                        padding:0px;
                        height: 18px;
                        width: 18px;
                        margin: 5px 10px;
                        vertical-align:text-bottom;
                        cursor:pointer;
                        span{
                            font-weight: bold;
                            color: #FFFFFF;
                            font-size:10px;
                            padding:4px 0px;
                            display:block;
                        }
                        a.change-lang{
                            position:absolute;
                            font-weight: bold;
                            color: #5A5A5A;
                            font-size:10px;
                            padding: 10px 2px;
                            display:none;
                        }
                        &:hover{
                            a.change-lang{
                                display:block;
                            }
                        }
                    }
                }
            }

            .welcome-msg{
                position: absolute;
                top: -23px;
                right: -13px;
            }
        }
    }
}