div.header-container {
  padding: 30px 20px;
  height: auto; }
  div.header-container:before {
    display: none; }
  div.header-container .header {
    padding: 0; }
    div.header-container .header .logo-container {
      display: inline-block;
      vertical-align: middle;
      width: 21%; }
      div.header-container .header .logo-container h1 {
        position: relative;
        top: auto;
        height: auto; }
        div.header-container .header .logo-container h1 a {
          width: auto;
          height: auto; }
          div.header-container .header .logo-container h1 a img {
            width: 136px; }
    div.header-container .header .nav-container {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      width: 56%;
      top: 2px; }
      div.header-container .header .nav-container ul#nav {
        width: 100%; }
        div.header-container .header .nav-container ul#nav li a {
          font-size: 11px;
          padding: 5px 10px;
          line-height: inherit; }
        div.header-container .header .nav-container ul#nav li.level-top ul {
          top: 20px;
          min-width: 155px; }
    div.header-container .header .quick-access {
      vertical-align: middle;
      display: inline-block;
      position: relative;
      width: 22%; }
      div.header-container .header .quick-access > div.block-cart,
      div.header-container .header .quick-access > .current-lang,
      div.header-container .header .quick-access > .switch-lang {
        display: none; }
      div.header-container .header .quick-access ul.links {
        float: right; }
        div.header-container .header .quick-access ul.links > ul {
          display: none; }
        div.header-container .header .quick-access ul.links > li {
          display: inline-block; }
          div.header-container .header .quick-access ul.links > li:hover > a {
            background: none;
            color: #5A5A5A; }
          div.header-container .header .quick-access ul.links > li > a {
            line-height: normal;
            font-size: 15px;
            padding: 5px 10px 7px; }
          div.header-container .header .quick-access ul.links > li#account-top-link .icon-account {
            background: url(../images/header-login.svg) center center;
            background-size: 100% 100%;
            width: 16px;
            height: 16px;
            display: block; }
          div.header-container .header .quick-access ul.links > li#cart-top-link {
            position: relative; }
            div.header-container .header .quick-access ul.links > li#cart-top-link .icon-cart {
              background: url(../images/header-cart.svg) center center;
              background-size: 100% 100%;
              width: 16px;
              height: 16px;
              display: block; }
            div.header-container .header .quick-access ul.links > li#cart-top-link .count {
              position: absolute;
              bottom: 2px;
              right: -3px;
              font-size: 11px; }
          div.header-container .header .quick-access ul.links > li#help-top-link > a {
            padding-right: 0px;
            pointer-events: none; }
          div.header-container .header .quick-access ul.links > li#help-top-link .icon-help {
            background: url(../images/header-help.svg) center center;
            background-size: 100% 100%;
            width: 16px;
            height: 16px;
            display: block; }
          div.header-container .header .quick-access ul.links > li#help-top-link ul {
            background: #EBEBEB; }
          div.header-container .header .quick-access ul.links > li > ul,
          div.header-container .header .quick-access ul.links > li .block-cart {
            top: 27px; }
          div.header-container .header .quick-access ul.links > li.current-lang {
            text-align: center;
            background: #5A5A5A;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            padding: 0px;
            height: 18px;
            width: 18px;
            margin: 5px 10px;
            vertical-align: text-bottom;
            cursor: pointer; }
            div.header-container .header .quick-access ul.links > li.current-lang span {
              font-weight: bold;
              color: #FFFFFF;
              font-size: 10px;
              padding: 4px 0px;
              display: block; }
            div.header-container .header .quick-access ul.links > li.current-lang a.change-lang {
              position: absolute;
              font-weight: bold;
              color: #5A5A5A;
              font-size: 10px;
              padding: 10px 2px;
              display: none; }
            div.header-container .header .quick-access ul.links > li.current-lang:hover a.change-lang {
              display: block; }
      div.header-container .header .quick-access .welcome-msg {
        position: absolute;
        top: -23px;
        right: -13px; }
