/* 
    Created on : 6-lug-2015, 19.51.03
    Author     : marco
*/
body div.col-main div.fieldset h2 { font-size:18px; text-transform:uppercase; }
body div.col-main div.fieldset ul.form-list { margin:25px 0px 0px; }
body div.col-main div.fieldset ul.form-list li label { margin:18px 0px 0px; }
body div.col-main div.fieldset ul.form-list li div.input-box { margin:13px 0px 0px; }
body div.col-main div.fieldset ul.form-list li div.input-box input[type="text"], 
body div.col-main div.fieldset ul.form-list li div.input-box input[type="password"] {
    width:306px;
}
body div.col-main div.buttons-set p.required { color:#696969; font-size:11px; margin:20px 0 23px; }
body div.col-main div.buttons-set button {
    float: left;
    font-size: 11px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    width: 215px;
}
body div.col-main p { padding-bottom:15px; }