@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        margin-top:-50px;
    }

    to {
        opacity: 1;
        margin-top:0px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        margin-top:-50px;
    }

    to {
        opacity: 1;
        margin-top:0px;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        bottom:-50px;
    }

    to {
        opacity: 1;
        bottom:0px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        bottom:-50px;
    }

    to {
        opacity: 1;
        bottom:0px;
    }
}

body.cms-index-index{
    div.col-main{
        padding-top:0;
        .homepage-top-slider{
            width: 100%;
            margin-bottom: 20px;
            .homepage-top-slider-container{
                position:relative;
                .swiper-slide{
                    img{
                        max-width: 100%;
                        margin: auto;
                        width: 100%;
                    }
                    .banner-text{
                        position:absolute;
                        top:50%;
                        left:50%;
                        transform: translate(-50%,-50%);
                        -webkit-transform: translate(-50%,-50%);
                        -moz-transform: translate(-50%,-50%);
                        -ms-transform: translate(-50%,-50%);
                        -o-transform: translate(-50%,-50%);
                        display: block;
                        width: 100%;
                        .banner-title{
                            -webkit-animation-duration: 2s;
                            animation-duration: 2s;
                            -webkit-animation-fill-mode: both;
                            animation-fill-mode: both;
                            -webkit-animation-name: fadeInUp;
                            animation-name: fadeInUp;
                            span.title{
                                font-size:40px;
                                text-transform:uppercase;
                                color:#FFFFFF;
                                text-align: center;
                                display:block;
                            }
                            span.subtitle{
                                font-size:26px;
                                color:#FFFFFF;
                                text-align: center;
                                display:block;
                                margin-top: 10px;
                            }
                        }
                    }
                    a.banner-cta{
                        padding:5px 10px;
                        background: #FFFFFF;
                        color: #5A5A5A;
                        display: block;
                        text-transform: uppercase;
                        font-size:12px;
                        font-weight: bold;
                        width: 200px;
                        text-align: center;
                        margin:15px auto;
                        position:relative;
                        -webkit-animation-duration: 2s;
                        animation-duration: 2s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeInDown;
                        animation-name: fadeInDown;
                        background: url(../images/bg-cta.jpg) #ffffff center right no-repeat;
                    }
                }
            }

            .swiper-pagination-container{
                position:relative;
                margin:10px;
                .swiper-pagination{
                    width: 100%;
                    text-align: center;
                    position:relative;
                    .swiper-pagination-bullet{
                        margin:0px 3px;
                        &.swiper-pagination-bullet-active{
                            background: #5A5A5A;
                        }
                    }
                }
            }
        }
        .homepage-col-left,
        .homepage-col-right{
            width: calc(50% - 10px);
            .swiper-slide{
                margin-top: 22.94px;
                &:first-child {
                    margin-top: 0;
                }

                img{
                    max-width: 100%;
                    margin: auto;
                    width: 100%;
                }
                .banner-text{
                    position:absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    -webkit-transform: translate(-50%,-50%);
                    -moz-transform: translate(-50%,-50%);
                    -ms-transform: translate(-50%,-50%);
                    -o-transform: translate(-50%,-50%);
                    display: block;
                    width: 100%;
                    .banner-title{
                        -webkit-animation-duration: 2s;
                        animation-duration: 2s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                        -webkit-animation-name: fadeInUp;
                        animation-name: fadeInUp;
                        span.title{
                            font-size:40px;
                            text-transform:uppercase;
                            color:#FFFFFF;
                            text-align: center;
                            display:block;
                        }
                        span.subtitle{
                            font-size:26px;
                            color:#FFFFFF;
                            text-align: center;
                            display:block;
                            margin-top: 10px;
                        }
                    }
                }
                a.banner-cta{
                    padding:5px 10px;
                    background: #FFFFFF;
                    color: #5A5A5A;
                    display: block;
                    text-transform: uppercase;
                    font-size:12px;
                    font-weight: bold;
                    width: 200px;
                    text-align: center;
                    margin:15px auto;
                    position:relative;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-name: fadeInDown;
                    animation-name: fadeInDown;
                    background: url(../images/bg-cta.jpg) #ffffff center right no-repeat;
                }
            }

            &.homepage-col-left{
                float:left;
            }
            &.homepage-col-right{
                float:right;

            }
        }

        .widget-box-newsletter{
            width: 100%;
            height:auto;
            float: left;
            margin-top: 20px;
            .block-subscribe{
                display:block;
                width: 100%;
                height:155px;
                padding: 0;
                .block-title{
                    padding:15px 0px;
                    font-size:21px;
                }
                label{
                    font-size:11px;
                    text-transform: uppercase;
                }
                select,
                input[type="text"]{
                    width: 163px !important;
                    height:20px;
                }

                select {
                    height: 29px !important;
                }
                .field-dob {
                    display: none;
                }

                div.date div.date-day div.input-box,
                div.date div.date-month div.input-box{
                    input[type="text"]{
                        width: 48px;
                    }
                }
                div.date div.date-year div.input-box{
                    input[type="text"]{
                        width: 78px;
                    }
                }

                .hidden-separator {
                    display:none;
                }
                div.fieldset {
                    float: left;
                }
                div.fieldset ul.form-list li.control-privacy{                    
                    bottom: 13px;
                    float:left;
                    left:auto;
                    right: 25px;
                    top:auto;
                    label{
                        font-size:11px;
                        margin:2px 0 0 5px !important;
                        a{
                            text-transform: uppercase;
                        }
                    }
                }

                div.buttons-set{
                    float: left;
                    button{
                        background: url(../images/submit-newsletter.jpg) #FFF center right no-repeat;
                        bottom: auto;
                        color: #5A5A5A;
                        display: block;
                        font-size: 12px;
                        font-weight: bold;
                        height: 27px;
                        left: 20px;
                        line-height: normal;
                        min-width: 211px;
                        position: relative;
                        right: auto;
                        text-align: center;
                        text-transform: uppercase;
                        top: 29px;
                    }
                    p.required{
                        position: absolute;
                        top:132px;
                        left:390px;                                                                                        
                        font-size:11px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}