@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    margin-top: -50px; }
  to {
    opacity: 1;
    margin-top: 0px; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    margin-top: -50px; }
  to {
    opacity: 1;
    margin-top: 0px; } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    bottom: -50px; }
  to {
    opacity: 1;
    bottom: 0px; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    bottom: -50px; }
  to {
    opacity: 1;
    bottom: 0px; } }
body.cms-index-index div.col-main {
  padding-top: 0; }
  body.cms-index-index div.col-main .homepage-top-slider {
    width: 100%;
    margin-bottom: 20px; }
    body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container {
      position: relative; }
      body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide img {
        max-width: 100%;
        margin: auto;
        width: 100%; }
      body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        display: block;
        width: 100%; }
        body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide .banner-text .banner-title {
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }
          body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide .banner-text .banner-title span.title {
            font-size: 40px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            display: block; }
          body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide .banner-text .banner-title span.subtitle {
            font-size: 26px;
            color: #FFFFFF;
            text-align: center;
            display: block;
            margin-top: 10px; }
      body.cms-index-index div.col-main .homepage-top-slider .homepage-top-slider-container .swiper-slide a.banner-cta {
        padding: 5px 10px;
        background: #FFFFFF;
        color: #5A5A5A;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 200px;
        text-align: center;
        margin: 15px auto;
        position: relative;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        background: url(../images/bg-cta.jpg) #ffffff center right no-repeat; }
    body.cms-index-index div.col-main .homepage-top-slider .swiper-pagination-container {
      position: relative;
      margin: 10px; }
      body.cms-index-index div.col-main .homepage-top-slider .swiper-pagination-container .swiper-pagination {
        width: 100%;
        text-align: center;
        position: relative; }
        body.cms-index-index div.col-main .homepage-top-slider .swiper-pagination-container .swiper-pagination .swiper-pagination-bullet {
          margin: 0px 3px; }
          body.cms-index-index div.col-main .homepage-top-slider .swiper-pagination-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
            background: #5A5A5A; }
  body.cms-index-index div.col-main .homepage-col-left,
  body.cms-index-index div.col-main .homepage-col-right {
    width: calc(50% - 10px); }
    body.cms-index-index div.col-main .homepage-col-left .swiper-slide,
    body.cms-index-index div.col-main .homepage-col-right .swiper-slide {
      margin-top: 22.94px; }
      body.cms-index-index div.col-main .homepage-col-left .swiper-slide:first-child,
      body.cms-index-index div.col-main .homepage-col-right .swiper-slide:first-child {
        margin-top: 0; }
      body.cms-index-index div.col-main .homepage-col-left .swiper-slide img,
      body.cms-index-index div.col-main .homepage-col-right .swiper-slide img {
        max-width: 100%;
        margin: auto;
        width: 100%; }
      body.cms-index-index div.col-main .homepage-col-left .swiper-slide .banner-text,
      body.cms-index-index div.col-main .homepage-col-right .swiper-slide .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        display: block;
        width: 100%; }
        body.cms-index-index div.col-main .homepage-col-left .swiper-slide .banner-text .banner-title,
        body.cms-index-index div.col-main .homepage-col-right .swiper-slide .banner-text .banner-title {
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }
          body.cms-index-index div.col-main .homepage-col-left .swiper-slide .banner-text .banner-title span.title,
          body.cms-index-index div.col-main .homepage-col-right .swiper-slide .banner-text .banner-title span.title {
            font-size: 40px;
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            display: block; }
          body.cms-index-index div.col-main .homepage-col-left .swiper-slide .banner-text .banner-title span.subtitle,
          body.cms-index-index div.col-main .homepage-col-right .swiper-slide .banner-text .banner-title span.subtitle {
            font-size: 26px;
            color: #FFFFFF;
            text-align: center;
            display: block;
            margin-top: 10px; }
      body.cms-index-index div.col-main .homepage-col-left .swiper-slide a.banner-cta,
      body.cms-index-index div.col-main .homepage-col-right .swiper-slide a.banner-cta {
        padding: 5px 10px;
        background: #FFFFFF;
        color: #5A5A5A;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        width: 200px;
        text-align: center;
        margin: 15px auto;
        position: relative;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        background: url(../images/bg-cta.jpg) #ffffff center right no-repeat; }
    body.cms-index-index div.col-main .homepage-col-left.homepage-col-left,
    body.cms-index-index div.col-main .homepage-col-right.homepage-col-left {
      float: left; }
    body.cms-index-index div.col-main .homepage-col-left.homepage-col-right,
    body.cms-index-index div.col-main .homepage-col-right.homepage-col-right {
      float: right; }
  body.cms-index-index div.col-main .widget-box-newsletter {
    width: 100%;
    height: auto;
    float: left;
    margin-top: 20px; }
    body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe {
      display: block;
      width: 100%;
      height: 155px;
      padding: 0; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe .block-title {
        padding: 15px 0px;
        font-size: 21px; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe label {
        font-size: 11px;
        text-transform: uppercase; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe select,
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe input[type="text"] {
        width: 163px !important;
        height: 20px; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe select {
        height: 29px !important; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe .field-dob {
        display: none; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.date div.date-day div.input-box input[type="text"],
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.date div.date-month div.input-box input[type="text"] {
        width: 48px; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.date div.date-year div.input-box input[type="text"] {
        width: 78px; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe .hidden-separator {
        display: none; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.fieldset {
        float: left; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.fieldset ul.form-list li.control-privacy {
        bottom: 13px;
        float: left;
        left: auto;
        right: 25px;
        top: auto; }
        body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.fieldset ul.form-list li.control-privacy label {
          font-size: 11px;
          margin: 2px 0 0 5px !important; }
          body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.fieldset ul.form-list li.control-privacy label a {
            text-transform: uppercase; }
      body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.buttons-set {
        float: left; }
        body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.buttons-set button {
          background: url(../images/submit-newsletter.jpg) #FFF center right no-repeat;
          bottom: auto;
          color: #5A5A5A;
          display: block;
          font-size: 12px;
          font-weight: bold;
          height: 27px;
          left: 20px;
          line-height: normal;
          min-width: 211px;
          position: relative;
          right: auto;
          text-align: center;
          text-transform: uppercase;
          top: 29px; }
        body.cms-index-index div.col-main .widget-box-newsletter .block-subscribe div.buttons-set p.required {
          position: absolute;
          top: 132px;
          left: 390px;
          font-size: 11px;
          text-transform: uppercase; }
