/* overlay background */

div#overlay-background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: transparent url(../images/overlay_wrapper_background.png) repeat top left;
}

div#overlay-background.transparent {
    opacity: 0;
    display: none;
}

/* overlay wrapper */

div#overlay-wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    min-height: 127px;
}

div#overlay-wrapper.absolute {
    position: absolute;
}

/* div.overlay */

div.overlay {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    z-index: 50010;
    background-color: #FFFFFF;
}

div.overlay div.overlay-title h5 {
    background-color: #EBEBEB;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

div.overlay div.overlay-title .overlay-close-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 4px;
    background: transparent url(../images/overlay_close_button.png) no-repeat center center;
    width: 30px;
    height: 30px;
}

/* cookie consent overlay */

div#cookie-consent-container {
    position: relative;
    overflow: visible;
    top: 0;
    left: 0;
    margin: 24px auto 0;
    width: 978px;
}

div#cookie-consent-container div.overlay-content div.overlay-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 20px;
    background: #2A2A2A url(../images/cookie_consent_icon.png) no-repeat 12px 7px;
}

div#cookie-consent-container div.overlay-content div.overlay-title .overlay-close-button {
    top: 10px;
    right: 10px;
    z-index: 1;
    opacity: 1;
    display:none;
}

div#cookie-consent-container div.overlay-content {
    position: fixed;
    padding: 38px 0;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #000;
    color: #FFF;
}

div#cookie-consent-container div.overlay-content > p {
    margin: 0 32px;
    font-size: 12px !important;
    color: #fff;
    font-family: arial !important;
}


div#cookie-consent-container div.overlay-content div {
    position: relative;
    top: 0;
    left: 0;
}

div#cookie-consent-container div.overlay-content div p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 36px;
    text-transform: uppercase;
}

div#cookie-consent-container div.overlay-content p >a{
    color:#646d76;
    padding-left:10px;
}

div#cookie-consent-container div.overlay-content div a.button {
    float: right;
    margin: 0 0 0 24px;
    min-width: 84px;
    width: 84px;
}

div#cookie-consent-container div.overlay-content a.button-close-cookie{
    text-transform: uppercase;
    border:1px solid #646d76;
    padding:10px 20px;
    display:inline-block;
    margin:auto;
    color:#646d76;
    cursor: pointer;
    margin-top:20px;
}

/* product gallery overlay */

div#product-gallery-container {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

div#product-gallery-container div.overlay-title .overlay-close-button {
    right: 0;
    left: 0;
    background-image: none;
    width: auto;
}

div#product-gallery-container div.overlay-content {
    overflow-y: auto;
    text-align: center;
    height: calc(100% - 30px);
}

div#product-gallery-container div.overlay-content div.more-views {
    display: inline-block;
    margin: 40px 0;
    vertical-align: top;
}

div#product-gallery-container div.overlay-content div.more-views ul li {
    margin: 0 0 7px;
    padding: 0 0 1px;
}

div#product-gallery-container div.overlay-content div.more-views ul li.active {
    background: transparent url(../images/line.png) repeat-x bottom left;
}

div#product-gallery-container div.overlay-content p.product-image {
    display: inline-block;
    overflow-x: hidden;
    margin: 40px 0;
    width: 1000px;
}

div#product-gallery-container div.overlay-content p.product-image img {
    margin: 0px auto;
    max-width: 1000px;
    max-height: 1500px;
}

/* size chart overlay */

div#size-chart-container, div#preorder-container {
    top: 80px;
    margin: 0 0 0 -265px;
    text-align: center;
    width: 530px;
    height: calc(100% - 160px);
    max-height: 1295px;
}

div#size-chart-container div.overlay-content , div#preorder-container div.overlay-content {
    overflow-y: auto;
    height: calc(100% - 30px);
}

div#size-chart-container div.overlay-content img {
    display: inline;
}

/* question wrapping form overlay */

div.question-form-container {
    margin: -196px 0 0 -327px;
    padding: 0 30px;
    width: 594px;
    height: 392px;
}

div.question-form-container div.overlay-title h5 {
    margin: 0 -30px;
}

div.question-form-container div.overlay-content p {
    margin: 17px 0 0;
    line-height: 18px;
    text-align: center;
}

div.question-form-container div.overlay-content ul.form-list {
    margin: 0 0 0 -30px;
}

div.question-form-container div.overlay-content ul.form-list li label {
    margin: 28px 0 0;
}

div.question-form-container div.overlay-content ul.form-list li div.input-box {
    margin: 13px 0 0;
}

div.question-form-container div.overlay-content ul.form-list li.fields:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

div.question-form-container div.overlay-content ul.form-list li.fields div.field {
    float: left;
    margin: 0 0 0 30px;
    width: 282px;
}

div.question-form-container div.overlay-content ul.form-list li.fields div.field div.input-box input {
    width: 276px;
}

div.question-form-container div.overlay-content ul.form-list li.wide {
    margin: 0 0 0 30px;
}

div.question-form-container div.overlay-content ul.form-list li.wide div.input-box textarea {
    width: 580px;
    height: 97px;
}

div.question-form-container div.overlay-content div.buttons-set button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #EBEBEB;
    font-size: 12px;
    line-height: 24px;
    color: #2A2A2A;
    text-align: center;
    text-indent: 0;
    width: 200px;
    height: 24px;
}

/* gift wrapping image overlay */

div#gift-wrapping-image-container {
    margin: -300px 0 0 -490px;
    text-align: center;
    width: 980px;
    height: 600px;
}

div#gift-wrapping-image-container div.overlay-content {
    margin: -15px 0 0;
    height: 100%;
}

div#gift-wrapping-image-container div.overlay-content:before {
    display: inline-block;
    content: '';
    vertical-align: middle;
    height: 100%;
}

div#gift-wrapping-image-container div.overlay-content img {
    display: inline;
    vertical-align: middle;
}

/* gift wrapping message overlay */

div#allow-gift-messages-for-order-container {
    margin: -196px 0 0 -327px;
    padding: 0 30px;
    width: 594px;
    height: 392px;
}

div#allow-gift-messages-for-order-container div.overlay-title h5 {
    margin: 0 -30px;
}

div#allow-gift-messages-for-order-container div.overlay-content p {
    margin: 17px 0 0;
    line-height: 18px;
    text-align: center;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list {
    margin: 0 0 0 -30px;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li label {
    margin: 28px 0 0;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li div.input-box {
    margin: 13px 0 0;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li.fields:after {
    display: block;
    visibility: hidden;
    overflow: hidden;
    clear: both;
    content: '.';
    font-size: 0;
    line-height: 0;
    height: 0;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li.fields div.field {
    float: left;
    margin: 0 0 0 30px;
    width: 282px;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li.fields div.field div.input-box input {
    width: 276px;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li.wide {
    margin: 0 0 0 30px;
}

div#allow-gift-messages-for-order-container div.overlay-content ul.form-list li.wide div.input-box textarea {
    width: 580px;
    height: 97px;
}

div#allow-gift-messages-for-order-container div.overlay-content div.buttons-set button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #EBEBEB;
    font-size: 12px;
    line-height: 24px;
    color: #2A2A2A;
    text-align: center;
    text-indent: 0;
    width: 200px;
    height: 24px;
}

div#preorder-container {
    height: auto!important;
}


div#preorder-container div.overlay-content {
    text-align: left;
    overflow:hidden;
    line-height: 18px;
    padding:15px;
    height: auto!important;
}