/* main elements */

body {
	background-color: #FFFFFF;
	font: normal 12px/1 'Quicksand', Arial, Helvetica, sans-serif;
	color: #2A2A2A;
}

a:link, a:visited, a:active {
	color: #2A2A2A;
	text-decoration: none;
}

a:hover {
	color: #2A2A2A;
}

a:focus {
    outline: 0;
}

img {
	display: block;
}

/* special classes */

.hidden {
	display: none;
}

.clear-float:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

/* buttons */

.button-container {}

.button {
	display: block;
	cursor: pointer;
	border: none;
	background: #2A2A2A none no-repeat top right;
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: left;
	text-transform: uppercase;
	text-indent: 12px;
	white-space: nowrap;
	min-width: 134px;
	height: 36px;
}

.button a, a.button {
	color: #FFFFFF;
}

.light-button {
	background-color: #BCBCBC;
	background-image: url(../images/light_button.png);
}

.dark-button {
	background-color: #2A2A2A;
	background-image: url(../images/dark_button.png);
}

/* form elements */

:-moz-placeholder {
	opacity: 1.0;
	color: #6A6A6A;
}

::-moz-placeholder {
	opacity: 1.0;
	color: #6A6A6A;
}

::-webkit-input-placeholder {
	opacity: 1.0;
	color: #6A6A6A;
}

:-ms-input-placeholder {
	opacity: 1.0;
	color: #6A6A6A;
}

input, button, textarea, select {
	margin: 0;
	padding: 0;
	font: normal 12px/1 'Quicksand', Arial, Helvetica, sans-serif;
	color: #2A2A2A;
}

input[type=text],
input.input-text,
input[type=password] {
	padding: 5px 2px;
	border: 1px solid #EBEBEB;
	height: 14px;
}

textarea {
	padding: 6px;
	border: 1px solid #EBEBEB;
}

select {
	padding: 4px 4px 4px 0;
	border: 1px solid #EBEBEB;
	height: 26px;
}

button {
	cursor: pointer;
}

label {
	display: block;
}

div.validation-advice:not(.advice-absolute) {
	clear: both;
	padding: 4px 0;
	font-size: 11px;
	color: #FF0000;
	text-align: left;
}

ul.messages {
	padding: 0 0 24px;
}

ul.messages li {
	margin: 12px 0 0;
}

ul.messages li:first-child {
	margin: 0;
}

ul.messages li span {
	display: block;
	padding: 3px 8px;
	background-color: #EBEBEB;
	line-height: 18px;
	text-transform: uppercase;
}

ul.messages li.notice-msg span {}

ul.messages li.success-msg span {
	padding: 3px 8px 3px 55px;
	background: #ECF6EE url(../images/success_icon.png) no-repeat 17px 50%;
	color: #45BB49;
}

ul.messages li.success-msg span a {
	color: #45BB49;
}

ul.messages li.error-msg span,
ul.messages li.error-msg span a {
	color: #BB454A;
}

/* page elements */

div.wrapper {
	margin: 0 auto;
	min-width: 978px;
}

div.page {}

/* header */

div.header-container {
	position: relative;
	top: 0;
	left: 0;
	height: 132px;
}

div.header-container:before {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	content: '';
	background-color: #EBEBEB;
	height: 24px;
}

div.header {
	position: relative;
	top: 0;
	left: 0;
	margin: 0px auto;
	width: 978px;
}

div.header {
	padding: 94px 0 0;
}

div.header div.header-left-image {
	position: absolute;
	top: 0;
	left: -6px;
	z-index: 10;
}

div.header div.header-right-image {
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 10;
}

div.header h1 {
	position: absolute;
	top: 48px;
	right: 0;
	left: 0;
	height: 24px;
}

div.header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	background: transparent none no-repeat top left;
	text-indent: 209px;
	white-space: nowrap;
	width: 209px;
	height: 24px;
}

div.header div.quick-access {
	position: absolute;
	top: 0;
	right: 0;
}

div.header div.quick-access:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.header div.quick-access p.welcome-msg {
	float: left;
	padding: 0 11px;
	font-size: 11px;
	line-height: 24px;
	text-transform: uppercase;
}

div.header div.quick-access ul.links {
	float: left;
}

div.header div.quick-access ul.links > li {
	position: relative;
	float: left;
	top: 0;
	left: 0;
}

div.header div.quick-access ul.links > li > a {
	display: block;
	padding: 0 11px;
	font-size: 11px;
	line-height: 24px;
	text-transform: uppercase;
}

div.header div.quick-access ul.links > li > ul {
	display: none;
	position: absolute;
	top: 24px;
	left: 0;
	z-index: 10001;
	background-color: #FFFFFF;
	font-size: 11px;
	line-height: 24px;
}

div.header div.quick-access ul.links > li > ul li a {
	display: block;
	padding: 0 11px;
	text-transform: uppercase;
	white-space: nowrap;
}

div.header div.quick-access ul.links > li > ul li:hover a {
	background-color: #2A2A2A;
	color: #FFFFFF;
}

div.header div.quick-access ul.links > li:hover > a {
	background-color: #2A2A2A;
	color: #FFFFFF;
}

div.header div.quick-access ul.links > li:hover > ul {
	display: block;
}

div.header div.quick-access ul.links > li div.block-cart {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 10010;
}

div.header div.quick-access ul.links > li:hover div.block-cart {
	display: block;
}

div.header div.quick-access ul.links > li div.block-subscribe {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 10010;
}

div.header div.quick-access ul.links > li:hover div.block-subscribe {
	display: block;
}

div.header div.quick-access ul.links > li#cookies-top-link {
	display: none;
}

body.cookie-consent-required div.header div.quick-access ul.links > li#cookies-top-link {
	display: none;
}

div.header div.quick-access ul.links > li#cookies-top-link a {
	padding: 0 11px 0 31px;
	background: #2A2A2A url(../images/cookie_consent_icon.png) no-repeat 12px 7px;
	color: #FFFFFF;
}

/*body.cookie-consent-required div.header-container {
	height: 156px;
}

body.cookie-consent-required div.header-container:after {
	display: block;
	position: absolute;
	top: 24px;
	right: 0;
	left: 0;
	content: '';
	background-color: #C3BFBF;
	height: 24px;
}

body.cookie-consent-required div.header div.header-left-image {
	top: 24px;
}

body.cookie-consent-required div.header div.header-right-image {
	top: 48px;
}

body.cookie-consent-required div.header h1 {
	top: 72px;
}

body.cookie-consent-not-required div.header:after {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	opacity: 0;
	z-index: 10010;
	content: '';
	height: 24px;
	height: 132px;
}*/

/* nav */

div.nav-container {
	position: relative;
	top: 0;
	left: 0;
	margin: -38px 0 0;
}

ul#nav {
	position: relative;
	top: 0;
	left: 0;
	z-index: 10000;
	margin: 0px auto;
	text-align: center;
	width: 978px;
}

ul#nav li.level-top {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	text-transform: uppercase;
	white-space: nowrap;
}

ul#nav li.level-top > a {
	display: block;
	padding: 0 14px;
	font-size: 14px;
	line-height: 38px;
}

ul#nav li.level-top ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	padding: 4px 0;
	background-color: #FFFFFF;
	text-align: left;
	min-width: 120px;
}

ul#nav li.level-top ul > li {
	position: relative;
	top: 0;
	left: 0;
	padding: 3px 0;
}

ul#nav li.level-top ul > li > a {
	display: block;
	padding: 0 25px 0 15px;
	line-height: 24px;
}

ul#nav li.level-top ul > li > ul {
	top: 0;
	left: 100%;
	margin: 3px 0 0 -18px;
	padding: 4px 0 4px 1px;
}

ul#nav li.level-top ul > li:hover > a {
	background: #2A2A2A url(../images/menu_item.png) no-repeat top right;
	color: #FFFFFF;
}

ul#nav li.level-top ul > li:hover > ul {
	display: block;
}

ul#nav li.level-top:hover > a {
	background-color: #2A2A2A;
	color: #FFFFFF;
}

ul#nav li.level-top:hover > ul {
	display: block;
}

/* main */

div.main-container {
	position: relative;
	top: 0;
	left: 0;
	padding: 12px 0 0;
	background: transparent url(../images/line.png) repeat-x top left;
}

div.main {
	position: relative;
	top: 0;
	left: 0;
	margin: 57px auto 0;
	padding: 0 24px;
	width: 930px;
}

div.main:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.main div.breadcrumbs {
	position: absolute;
	top: -57px;
	right: 0;
	left: 0;
}

div.main div.breadcrumbs:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.main div.breadcrumbs ul {
	position: relative;
	top: 0;
	left: 0;
	z-index: 20;
	margin: 14px 0 0 76px;
}

div.main div.breadcrumbs ul li {
	float: left;
	margin: 0 4px 0 0;
	font-size: 10px;
	color: #939393;
}

div.main div.breadcrumbs ul li:before {
	display: inline-block;
	content: '> ';
}

div.main div.breadcrumbs ul li:first-child:before {
	content: '';
}

div.main div.breadcrumbs ul li a {
	color: #939393;
}

div.main div.breadcrumbs ul li span {
	display: none;
}

/* footer */

div.footer-container {
	position: relative;
	top: 0;
	left: 0;
}

div.footer-container:before {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	content: '';
	background-color: #2A2A2A;
	height: 25px;
}

div.footer {
	position: relative;
	top: 0;
	left: 0;
	margin: 0px auto;
	padding: 72px 0 72px;
	width: 978px;
}

div.footer:before {
	display: block;
	position: absolute;
	overflow: hidden;
	top: 24px;
	right: 24px;
	left: 24px;
	content: '';
	background: transparent url(../images/line.png) repeat-x top left;
	height: 1px;
}

div.footer div#footer-links {
	margin: 0 0 0 10px;
}

div.footer div#footer-links > div {
	float: left;
	margin: 0 0 0 14px;
	/*background-color: #FF0000;*/
	width: 192px;
}

div.footer div#footer-links > div:first-of-type {
	width: 312px;
}

div.footer div#footer-links > div h4 {
	text-align: center;
	text-transform: uppercase;
}

div.footer div#footer-links > div.first h4 {
	text-align: left;
}

div.footer div#footer-links > div.last h4 {
	text-align: right;
}

div.footer div#customer-care ul {
	float: left;
	margin: 8px 0 0;
	line-height: 15px;
}

div.footer div#customer-care ul:first-of-type {
	float: left;
}

div.footer div#customer-care ul:last-of-type {
	float: right;
}

div.footer div#customer-care ul li {
	/*background-color: #0000FF;*/
	white-space: nowrap;
}

div.footer div#footer-languages ul {
	margin: 37px 0 0;
	text-align: center;
}

div.footer div#footer-languages ul li {
	display: inline-block;
	margin: 0 14px;
	font-weight: bold;
	font-size: 16px;
}

div.footer div#footer-languages ul li a {
	color: #BCBCBC;
}

div.footer div#social ul {
	margin: 35px 0 0;
	text-align: center;
}

div.footer div#social ul li {
	display: inline-block;
	padding: 0 3px;
}

div.footer div#social ul li a {
	display: block;
	overflow: hidden;
	background: transparent none no-repeat top left;
	text-indent: 20px;
	white-space: nowrap;
	width: 20px;
	height: 20px;
}

div.footer div#social ul li#follow-pinterest a {
	background-image: url(../images/social/pinterest-white.png);
}

div.footer div#social ul li#follow-pinterest a:hover {
	background-image: url(../images/social/pinterest_over.png);
}

div.footer div#social ul li#follow-facebook a {
	background-image: url(../images/social/facebook-white.png);
}

div.footer div#social ul li#follow-facebook a:hover {
	background-image: url(../images/social/facebook_over.png);
}

div.footer div#social ul li#follow-twitter a {
	background-image: url(../images/social/twitter-white.png);
}

div.footer div#social ul li#follow-twitter a:hover {
	background-image: url(../images/social/twitter_over.png);
}

div.footer div#social ul li#follow-instagram a {
	background-image: url(../images/social/instagram-white.png);
}

div.footer div#social ul li#follow-instagram a:hover {
	background-image: url(../images/social/instagram_over.png);
}

div.footer div#parosh-experience p {
	margin: 27px 0 0 58px;
}

div.footer div#parosh-experience p a {
	display: block;
	cursor: pointer;
	border: none;
	background: #2A2A2A url(../images/dark_button.png) no-repeat top right;
	font-size: 18px;
	line-height: 36px;
	color: #FFFFFF;
	text-align: left;
	text-transform: uppercase;
	text-indent: 12px;
	white-space: nowrap;
	min-width: 134px;
	height: 36px;
}

div.footer div#copyright {
	position: absolute;
	bottom: 0;
	left: 24px;
	line-height: 25px;
	color: #E5E5E5;
}

div.footer div#credits {
	position: absolute;
	bottom: 4px;
	right: 24px;
}

div.footer div#credits a {
	display: block;
	overflow: hidden;
	background: transparent url(../images/filoblu_logo.png) no-repeat top left;
	text-indent: 16px;
	white-space: nowrap;
	width: 16px;
	height: 16px;
}

/* page-print */

body.page-print div.buttons-set button {
	margin: 20px 0 0;
}

body.page-print div.buttons-set button {
	background-color: #EBEBEB;
	font-size: 11px;
	line-height: 24px;
	color: #2A2A2A;
	text-align: center;
	text-indent: 0;
	width: 200px;
	height: 24px;
}

/* Newsletter mandatory date */

#advice-validate-custom-newsletter_dob_day_1 ,
#advice-validate-custom-newsletter_dob_month_1,
#advice-validate-custom-newsletter_dob_year_1 {
    display: none;
}
