/* styles */

div.input-box div.validation-advice {
	clear: both;
	padding: 4px 0;
	font-size: 11px;
	color: #FF0000;
	text-align: left;
}

/* content */

body.customer-account-login div.col-main div.account-login.last {
	padding-bottom: 89px;
}

body.customer-account-login div.col-main div.account-login.last:after {
	display: none;
}

body.customer-account-login div.col-main div.account-login.last button,
body.customer-account-login div.col-main div.account-login.last .button {
	bottom: 24px;
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper a.slider-control-previous.slider-control-disabled {
	background-image: url(../images/ie8/product_slider_previous_disabled.png);
}

body.catalog-product-view div.col-main div.product-view div.product-collateral div.box-up-sell div.slider-wrapper a.slider-control-next.slider-control-disabled {
	background-image: url(../images/ie8/product_slider_next_disabled.png);
}

body.catalog-product-view div.col-main div.product-view div.product-essential div.product-data div#product-options-wrapper dl dd input[type=radio] + label.selected {
	margin: 0;
	padding: 0 5px;
	border: 1px solid #E6E6E6;
	background-color: #FFFFFF;
	line-height: 22px;
	text-align: center;
	min-width: 12px;
}

/* blocks */

div.block-cart {
	display: none;
}

div.block-subscribe {
	display: none;
}

/* widgets */

div.widget-box-image div.widget-content a:hover:before {
	background: transparent url(../images/ie8/opaque_0.9.png) repeat top left !important;
}

/* overlays */

div.overlay-content {
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
}

div#product-gallery-container div.overlay-title h5 {
	cursor: pointer;
}

div#size-chart-container {
	bottom: 80px;
}

div#allow-gift-messages-for-order-container div.overlay-content {
	left: 30px;
}