/* widget */

div.widget {}

/* widget-box */

div.widget-box {
	position: relative;
	top: 0;
	left: 0;
}

/* widget-box-image */

div.widget-box-image {
	background: transparent none no-repeat top left;
}

div.widget-box-image div.widget-title h3 {
	display: none;
}

div.widget-box-image div.widget-content a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.widget-box-image div.widget-content a span {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -67px;
}

div.widget-box-image div.widget-content a:hover:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	opacity: 0.9;
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

div.widget-box-image div.widget-content a:hover span {
	display: block;
}

div.widget-box-image-horizontal {
	width: 652px;
	height: 245px;
}

div.widget-box-image-vertical {
	width: 326px;
	height: 735px;
}

/* widget-box-text */

div.widget-box-text {
	background-color: #EBEBEB;
	text-align: center;
	width: 326px;
	height: 245px;
}

div.widget-box-text div.widget-title h3 {
	margin: 20px 0 0;
	font-size: 18px;
	text-transform: uppercase;
}

div.widget-box-text div.widget-content p {
	margin: 20px 0 0;
	padding: 0 25px;
	line-height: 18px;
}

div.widget-box-text div.widget-content div.button-container {
	position: absolute;
	right: 0;
	bottom: 30px;
	left: 0;
	text-align: center;
}

div.widget-box-text div.widget-content div.button-container a.button {
	display: inline-block;
}

/* widget-box-slider */

div.widget-box-slider {
	width: 652px;
	height: 490px;
}

div.widget-box-slider div.widget-title h3 {
	display: none;
}

div.widget-box-slider div.widget-content div.slider-wrapper div.slider {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 652px;
	height: 490px;
}

div.widget-box-slider div.widget-content div.slider-wrapper div.slider ul {
	position: relative;
	top: 0;
	left: 0;
	width: 20000em;
}

div.widget-box-slider div.widget-content div.slider-wrapper div.slider ul:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
	content: '.';
	font-size: 0;
	line-height: 0;
	height: 0;
}

div.widget-box-slider div.widget-content div.slider-wrapper div.slider ul li {
	float: left;
}

div.widget-box-slider div.widget-content div.slider-wrapper a.slider-control-previous {
	display: block;
	position: absolute;
	top: 50%;
	left: 13px;
	margin: -20px 0 0;
	background: transparent url(../images/slider_previous.png) no-repeat top left;
	width: 40px;
	height: 40px;
	display: none;
}

div.widget-box-slider div.widget-content div.slider-wrapper a.slider-control-previous:hover {
	background-image: url(../images/slider_previous_over.png);
}

div.widget-box-slider div.widget-content div.slider-wrapper a.slider-control-next {
	display: block;
	position: absolute;
	top: 50%;
	right: 13px;
	margin: -20px 0 0;
	background: transparent url(../images/slider_next.png) no-repeat top left;
	width: 40px;
	height: 40px;
	display: none;
}

div.widget-box-slider div.widget-content div.slider-wrapper a.slider-control-next:hover {
	background-image: url(../images/slider_next_over.png);
}

div.widget-box-slider div.widget-content div.slider-wrapper a.slider-control-disabled {
	opacity: 0.3;
}

/* widget-box-newsletter */

div.widget-box-newsletter {
	overflow: hidden;
	background-color: #EBEBEB;
	text-align: center;
	width: 326px;
	height: 245px;
}

div.widget-box-newsletter div.widget-title h3 {
	display: none;
}

div.widget-box-newsletter div.widget-content {
	position: relative;
	top: 0;
	left: 0;
}