<?php $_product = $this->getProduct(); ?>
<?php if ($_product): ?>
	<div class="product-share">
		<h3><?php echo $this->__('Share'); ?>:</h3>
		<ul>
			<li id="product-share-pinterest">
				<a href="javascript:popWin('https://www.pinterest.com/pin/create/button/?url=<?php echo urlencode($_product->getProductUrl()) ?>&media=<?php echo urlencode($_product->getProductUrl()) ?>&p[images][0]=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>&description=<?php echo $this->stripTags($_product->getName(), null, true) ?>', 'pinterest', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Pinterest">Pinterest</a>
			</li>
			<li id="product-share-facebook">
				<a href="javascript:popWin('http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<?php echo urlencode($_product->getProductUrl()) ?>&p[images][0]=<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>&p[title]=<?php echo $this->stripTags($_product->getName(), null, true) ?>', 'facebook', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Facebook">Facebook</a>
			</li>
			<li id="product-share-twitter">
				<a href="javascript:popWin('http://twitter.com/home?status=<?php echo urlencode($this->stripTags($_product->getName(), null, true). ' (' . $_product->getProductUrl() . ')') ?>', 'twitter', 'width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes');" title="Twitter">Twitter</a>
			</li>
		</ul>
	</div>
<?php endif; ?>