<table cellspacing="0" cellpadding="0" border="0" width="100%" style="border:1px solid #bebcb7; background:#f8f7f5;">
	<thead>
		<tr>
			<th><span class="nobr">Product Name</span></th>
			<th class="a-center"><span class="nobr">Unit Price</span></th>
			<th class="a-center">Qty</th>
			<th class="a-center">Subtotal</th>
		</tr>
	</thead>
	<tbody>
	<?php foreach($this->getItems() as $_item): ?>
		<?php echo $this->getItemHtml($_item) ?>
	<?php endforeach ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4" align="left" style="padding:3px 9px">&nbsp;</td>
		</tr>
	</tfoot>

</table>
