<?php $_shipment=$this->getShipment() ?>
<?php $_order=$this->getOrder() ?>
<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
    <thead>
		<tr>
            <th align="left" width="400" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Shipped By') ?></th>
            <th align="left" width="200" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Tracking Number') ?></th>
        </tr>
    </thead>
    <tbody>
    <?php $i=0; foreach ($_shipment->getAllTracks() as $_item): $i++ ?>
        <tr>
            <td align="left" valign="top" style="padding:3px 9px"><?php echo $_item->getTitle() ?></td>
            <td align="center" valign="top" style="padding:3px 9px"><?php echo $_item->getNumber() ?></td>
        </tr>
    <?php endforeach ?>
    </tbody>
</table>
<?php endif; ?>
