<div id="size-request-form-container" class="overlay question-form-container">
	<div class="overlay-title">
		<h5 class="legend"><?php echo Mage::helper('pws_productqa')->__('Notify me if back in stock') ?></h5>
		<span class="overlay-close-button" id="overlay-close-button-size"></span>
	</div>
	<div class="overlay-content">
		<form action="<?php echo Mage::getUrl('productqa/index/addQuestion'); ?>" id="sizeRequestForm" method="post">
			<div class="fieldset">
				<ul class="form-list">
					<li class="fields">
						<div class="field question-name">
							<label for="size-request-message-whole-name" class="required"><em>*</em><?php echo Mage::helper('pws_productqa')->__('Name') ?></label>
							<div class="input-box">
								<input name="name" id="size-request-message-whole-name" title="<?php echo Mage::helper('pws_productqa')->__('Name') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserName()) ?>" class="input-text required-entry" type="text" />
							</div>
						</div>
						<div class="field question-email">
							<label for="size-request-message-whole-email" class="required"><em>*</em><?php echo Mage::helper('pws_productqa')->__('Email') ?></label>
							<div class="input-box">
								<input name="email" id="size-request-message-whole-email" title="<?php echo Mage::helper('pws_productqa')->__('Email') ?>" value="<?php echo $this->htmlEscape($this->helper('contacts')->getUserEmail()) ?>" class="input-text required-entry validate-email" type="text" />
							</div>
						</div>
					</li>
					<li class="wide">
						<label for="size-request-message-whole-comment" class="required"><em>*</em><?php echo Mage::helper('pws_productqa')->__('Question') ?></label>
						<div class="input-box">
							<textarea name="question" id="size-request-message-whole-question" title="<?php echo Mage::helper('pws_productqa')->__('Question') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
						</div>
					</li>
				</ul>
			</div>
			<div class="buttons-set">
				<p class="required"><?php echo Mage::helper('pws_productqa')->__('* Required Fields') ?></p>
				<input type="text" name="hideit" id="hideit2" value="" style="display:none !important;" />
				<input type="hidden" name="product_id" value="<?php echo Mage::registry('product')->getId(); ?>" />
				<input type="hidden" name="store_id" value="<?php echo Mage::app()->getStore(true)->getStoreId(); ?>" />
				<button type="submit" title="<?php echo Mage::helper('pws_productqa')->__('Submit') ?>" class="button form-button"><span><span><?php echo Mage::helper('pws_productqa')->__('Submit') ?></span></span></button>
			</div>
		</form>
		<script type="text/javascript">
		//<![CDATA[
			var contactForm = new VarienForm('sizeRequestForm', true);
		//]]>
		</script>
	</div>
</div>
