<div class="collateral-box">
    <div class="collateral-box" id="product-q-a">
        <a id="add-question-label" href="#"><?php echo $this->__('Email us for more information'); ?></a>
    </div>
</div>