<div class="collateral-box">
    <div class="collateral-box" id="product-q-a-size">
        <a id="add-size-request-label" href="#"><?php echo $this->__('Is your size unvailable?'); ?></a>
    </div>
</div>