<div class="widget widget-box widget-box-image widget-box-image-horizontal" style="background-image: url(<?php echo $this->getImage(); ?>);">
    <div class="widget-title">
        <h3><?php echo $this->htmlEscape($this->getTitle()); ?></h3>
    </div>
    <div class="widget-content">
        <a class="button-container" href="<?php echo $this->getUrl(); ?>">
            <span class="button light-button"><?php echo $this->htmlEscape($this->__('Discover')); ?></span>
        </a>
    </div>
</div>