<div class="account-login twitter-login">
	<div class="content new-users">
		<h2><?php echo $this->__('Connect with Twitter') ?></h2>
		<p><?php echo $this->__('Use your Twitter account to login or register within our store. You\'re just one click away.' ) ?></p>
	</div>
	<div class="buttons-set">
		<span class="twitterconnect-button button">
		<?php if(strtolower(substr($this->getLinkUrl(),0,4))==='http'): ?>
			<a href="<?php echo $this->getLinkUrl(); ?>" title="<?php echo $this->__('Connect'); ?>" class="link-twitter">
		<?php elseif($this->getLinkUrl()): ?>
			<a href="<?php echo $this->getUrl($this->getLinkUrl()); ?>" title="<?php echo $this->__('Connect'); ?>" class="link-twitter">
		<?php endif; ?>
				<span><?php echo $this->__('Connect'); ?></span>
		<?php if($this->getLinkUrl()): ?>
			</a>
		<?php endif ?>
		</span>
	</div>
</div>