<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Preorder
 */
?>

<?php if ($this->getWarningText()): ?>
<br />
<span style="padding: 0px 9px;"><?php echo $this->getWarningText() ?></span>
<?php endif ?>
