<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2015 Amasty (https://www.amasty.com)
 * @package Amasty_Preorder
 */
?>

<ul class="messages">
    <li class="note-msg"><?php echo $this->getWarningText() ?></li>
</ul>
