<div class="welcome-msg">
    <p class="hello"><?php echo $this->__('Welcome <strong>%s</strong>', $this->htmlEscape($this->getCustomerName())) ?></p>
    <p><?php echo $this->__('From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.') ?></p>
</div>