<?php $_shipment = $this->getShipment() ?>
<?php $_order    = $this->getOrder() ?>
<?php if ($_shipment && $_order): ?>

<table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
	<thead>
        <tr>
            <th align="left" width="300" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Item') ?></th>
            <th align="left" width="150" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Sku') ?></th>
			<th align="center" width="150" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Qty') ?></th>
        </tr>
    </thead>

    <?php $i=0; foreach ($_shipment->getAllItems() as $_item): ?>
    <?php if($_item->getOrderItem()->getParentItem()) continue; else $i++; ?>
    <tbody>
        <?php echo $this->getItemHtml($_item) ?>
    </tbody>
    <?php endforeach; ?>

</table>
<?php endif; ?>
