<div class="content-header">
    <?php echo $this->getHeaderHtml() ?>
    <p class="form-buttons"><?php echo $this->getButtonsHtml('header') ?></p>
</div>

<div class = "grid">
    <table class = "data" cellspacing = "0">
        <colgroup>
            <col class = "a-center">
            <col class = "a-center">
            <col class = "a-center">
            <col class = "a-center">
            <col class = "a-center">
            <col class = "a-center">
            <col class = "a-center">
        </colgroup>
        <thead>
            <tr class = "headings">
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "action_type" href = "#">
                            <span class = "action_type">action_type</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "status" href = "#">
                            <span class = "status">status</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "qty" href = "#">
                            <span class = "qty">qty</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "iterations" href = "#">
                            <span class = "iterations">iterations</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "created_at" href = "#">
                            <span class = "created_at">created_at</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "updated_at" href = "#">
                            <span class = "updated_at">updated_at</span>
                        </a>
                    </span>
                </th>
                <th>
                    <span class = "nobr">
                        <a class = "not-sort" title = "asc" name = "source" href = "#">
                            <span class = "source">source</span>
                        </a>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <?php
            $i = 0;
            foreach ($this->getInventoryHistory() as $history):
                ?>
                <tr class="<?php
                if ($i % 2 == 0)
                    echo 'odd';
                else
                    echo 'even';
                ?>">
                    <td><?php echo $history->getActionType(); ?></td>
                    <td><?php echo $history->getStatus(); ?></td>
                    <td><?php echo $history->getQty(); ?></td>
                    <td><?php echo $history->getIterations(); ?></td>
                    <td><?php echo $history->getCreatedAt(); ?></td>
                    <td><?php echo $history->getUpdatedAt(); ?></td>
                    <td><?php echo $history->getSource(); ?></td>
                </tr>
                <?php
                $i++;
            endforeach;
            ?>
        </tbody>
    </table>
</div>

<?php if ($this->hasFooterButtons()): ?>
    <div class="content-footer">
        <p class="form-buttons"><?php echo $this->getButtonsHtml('footer') ?></p>
    </div>
<?php endif; ?>