<?php $_quote = $this->getQuote() ?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #EAEAEA;">
	<thead>
        <tr>
            <th align="left" width="250" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Item') ?></th>
            <th align="left" width="130" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Sku') ?></th>
            <th align="center" width="100" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Qty') ?></th>
            <th align="left" width="120" style="padding: 0 5px 14px 0; border-bottom: 1px solid #EBEBEB; font-size:12px; font-weight: bold; line-height:1em; text-transform: uppercase;"><?php echo $this->__('Subtotal') ?></th>
        </tr>
    </thead>
<?php if (is_object($_quote)) :?>
    <?php $i=0; foreach ($_quote->getAllItems() as $_item):?>
        <?php if($_item->getParentItemId()) continue; else $i++; ?>
        <?php if($_item->getProductType() == 'configurable' || $_item->getProductType() == 'bundle') :
            $finalResult = array();
            $result = array();
            $options = $_item->getProduct()->getTypeInstance(true)->getOrderOptions($_item->getProduct());
            // Check for options
            if ($options) {
                if (isset($options['options']))	{
                    $result = array_merge($result, $options['options']);
                }
                if (isset($options['additional_options'])) {
                    $result = array_merge($result, $options['additional_options']);
                }
                if (!empty($options['attributes_info'])) {
                    $result = array_merge($options['attributes_info'], $result);
                }
                if(isset($options['bundle_options'])) {


                	$bundled_product = new Mage_Catalog_Model_Product();
					$bundled_product->load($_item->getProduct()->getId());
					$selectionCollection = $bundled_product->getTypeInstance(true)->getSelectionsCollection(
						$bundled_product->getTypeInstance(true)->getOptionsIds($bundled_product), $bundled_product
					);

					$bundled_items = array();
					$label = '';
					$qty = '';
					foreach($selectionCollection as $option)
					{
						foreach($options['bundle_options'] as $bundle){
							if($bundle['value'][0]['title'] == $option->getName()){
								$label = $bundle['label'];
								$qty = $bundle['value'][0]['qty'];
								$aux_options[] = array('label' => $label, 'value' => $qty .' x '. $option->getName() .' '. Mage::helper('checkout')->formatPrice($option->getPrice()), 'sku' => $option->getSku());
							}

						}
					}

                    $result = array_merge($result, $aux_options);
                }
            }
            $options = array_merge($finalResult, $result);
        endif; ?>
        <tbody<?php echo $i%2 ? ' bgcolor="#F6F6F6"' : '#FFFFFF' ?>>
		    <tr>
		        <?php echo '<td valign="top" align="left" style="padding:3px 9px">'. $_item['name'] .'</td>'; ?>
		        <?php echo '<td valign="top" align="left" style="padding:3px 9px">'. $_item['sku'] .'</td>'; ?>
		        <?php echo '<td valign="top" align="center" style="padding:3px 9px">'. $_item['qty'] .'</td>'; ?>
		        <?php echo '<td valign="top" align="right" style="padding:3px 9px">' . $this->getTax($_item) .'</td>'; ?>
		        <?php if(isset($options) && is_array($options)) : foreach($options as $option) : echo '<tr><td valign="top" align="left" style="padding:3px 9px" colspan="4"><strong><em>'.$option['label'].'</em></strong></td></tr>'.'<tr><td valign="top" align="left" style="padding:3px 19px">'.$option['value'].'</td>'; if(isset($option['sku'])) : echo '<td style="padding:3px 9px">' . $option['sku'] . '</td><td></td><td></td>'; else: echo '<td></td><td></td><td></td>'; endif; endforeach; $options = null; endif; '</tr>' ?>
		    </tr>
    	</tbody>
        <?php endforeach; ?>
        <?php endif;?>
</table>