/* Overlay and Popups
-------------------------------------------------- */

/* Overlay */
.gomage-checkout-overlay{
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:100%;
	background:#000;
	opacity:.6;
	filter:alpha(opacity=60);
  }

/* POPUP styles */
.simple_overlay{
	z-index:10000;
	display:none;
	width:320px;
  max-width: 96%;
  background: #fff;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow   : 3px 3px 4px rgba(0, 0, 0, 0.75);
  box-shadow        : 3px 3px 4px rgba(0, 0, 0, 0.75);
	text-align:left;
  }
  .glc-popup-content{
    padding: 12px 24px;
    }
  .simple_overlay .close{
    position:absolute;
    top:5px;
    right:10px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
    line-height: 18px;
    }

/* Loadinfo */
.loadinfo{
	position:fixed;
	top:45%;
	left:50%;
	margin-left:-150px;
	padding:8px 8px 8px 35px;
	width:250px;
	border:1px solid #0A263C;
	-webkit-border-radius: 3px;
	-moz-border-radius   : 3px;
	border-radius        : 3px;
	background:url('../../images/gomage/lightcheckout/loadinfo.gif') 5px 50% no-repeat #fff;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow   : 2px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow        : 2px 2px 3px rgba(0, 0, 0, 0.5);
	font-weight:700;
  }

/* Login POPUP */
#login-form.simple_overlay{
	width:308px;
  font:12px/15px Arial,Helvetica,sans-serif;
  }
  #login-form .form-list li{
    margin:0 0 8px;
    }
  #login-form .form-list .input-box{
    clear:both;
    width: 100%;
    }
    #login-form .form-list li .input-box .input-text{
      width:100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing   : border-box;
      box-sizing        : border-box;
      }
  #login-form .loadinfo{
    clear:both;
    overflow:hidden;
    margin:0;
    width:220px;
    }
  #login-form .details h2{
    margin:0 0 5px;
    color:#464646;
    font-weight:400;
    font-size:18px;
    line-height:1.35;
    }
  #login-form .loadinfo{
    position:static;
    margin:0;
    padding:5px 5px 5px 35px;
    border:0;
    background-position:0 50%;
    -webkit-box-shadow: none;
    -moz-box-shadow   : none;
    box-shadow        : none;
    }
  .simple_overlay .actions button.button{
    float:right;
    }
  #gcheckout-forgot-form .actions button.button{
    float:left;
    }
  #gcheckout-forgot-form .actions button.button[type="submit"]{
    float:right;
    }
  #login-form .error{
    padding-bottom:5px;
    color:#DF280A;
    font-weight:bold;
    }
  #login-form .success{
    padding-bottom:5px;
    color:#3D6611;
    font-weight:bold;
    }
  #login-form .actions a{
    float:left;
    color:#1E7EC8;
    text-decoration:underline;
    line-height:26px;
    }
  #login-form .actions a:hover{
    text-decoration:none;
    }

/* Terms and Conditions POPUP */
#terms-block.simple_overlay{
	width:400px;
	height:250px;
  }
  #terms-block.simple_overlay .glc-popup-content{
    height: 100%;
    padding: 24px 9px 24px 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    }
  #terms-block.simple_overlay .details{
    height:100%;
    overflow: auto;
    }

/* Overlay and Popups END
-------------------------------------------------- */

/* Validation
-------------------------------------------------- */
.validation-advice{
	margin:0;
	padding:0;
	background:none;
	opacity:.87;
  }
.validation-advice-container{
	padding:4px 10px;
	width:130px;
	border:2px solid #DDD;
  -webkit-border-radius: 6px;
  -moz-border-radius   : 6px;
  border-radius        : 6px;
	background:#EE0101;
  -webkit-box-shadow: 0px 0px 6px #000;
  -moz-box-shadow   : 0px 0px 6px #000;
  box-shadow        : 0px 0px 6px #000;
	color:#FFF;
	text-align:center;
	font-weight:100;
	font-size:11px;
	font-family:Tahoma,Geneva,Kalimati,sans-serif;
  }
.advice-absolute .arrow{
	position:absolute;
	bottom:0;
	left:20px;
	z-index:5001;
	width:15px;
	height:15px;
  }
.advice-absolute .arrowBottom{
  top:0;
  margin:-6px;
  }
.advice-absolute .arrow div{
  display:block;
  margin:0 auto;
  height:1px;
	border-right:2px solid #ddd;
	border-left:2px solid #ddd;
  background:#ee0101;
	-webkit-box-shadow: 0px 2px 3px #444;
	-moz-box-shadow   : 0px 2px 3px #444;
	box-shadow        : 0px 2px 3px #444;
	font-size:0px;
  font-size:0px;
  line-height:0px;
  }
	.advice-absolute .arrowBottom div{
		-webkit-box-shadow: none;
		-moz-box-shadow   : none;
		box-shadow        : none;
	}
.greenPopup .arrow div{
  background:#33be40;
  }
.blackPopup .arrow div{
  background:#393939;
  color:#FFF;
  }
.advice-absolute{
  z-index:998;
  cursor:pointer;
  }
.advice-absolute .arrow .line10{
  width:15px;
  border:0;
  }
.advice-absolute .arrow .line9{
  width:13px;
  border:0;
  }
.advice-absolute .arrow .line8{
  width:11px;
  }
.advice-absolute .arrow .line7{
  width:9px;
  }
.advice-absolute .arrow .line6{
  width:7px;
  }
.advice-absolute .arrow .line5{
  width:5px;
  }
.advice-absolute .arrow .line4{
  width:3px;
  }
.advice-absolute .arrow .line3{
  width:1px;
	border-right:2px solid #ddd;
	border-bottom:0;
	border-left:2px solid #ddd;
  }
.advice-absolute .arrow .line2{
  width:3px;
  border:0;
  background:#ddd;
  }
.advice-absolute .arrow .line1{
  width:1px;
  border:0;
  background:#ddd;
  }
/* Validatoin END
-------------------------------------------------- */