<?php foreach ($this->getStores() as $store): ?>
    <?php if ($store->getId() == $this->getCurrentStoreId()): ?>
        <li class="current-lang"><span><?php echo $this->htmlEscape($store->getName()); ?></span></li>
            <?php else: ?>
        <li class="switch-lang"><a class="change-lang" href="<?php echo $store->getCurrentUrl(); ?>"><?php echo $this->htmlEscape($store->getName()); ?></a></li>
    <?php endif; ?>
<?php endforeach; ?>