<div id="footer-languages">
    <h4><?php echo $this->__('Change language'); ?></h4>
    <ul>
        <?php foreach ($this->getStores() as $store): ?>
            <?php if ($store->getId() != $this->getCurrentStoreId()): ?>
                <li><a href="<?php echo $store->getCurrentUrl(); ?>"><?php echo $this->htmlEscape($store->getName()); ?></a></li>
            <?php else: ?>
                <li><?php echo $this->htmlEscape($store->getName()); ?></li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
</div>