<?php $options = $this->getOptionList(); ?>
<?php if ($options): ?>
<div class="truncated">
  <div class="truncated_full_value">
      <div class="item-options">
		  <a href="#" onclick="return false;" class="details"><?php echo $this->__('View Details') ?></a>
		  <div class="tooltip">
			  <p><?php echo $this->__('Options Details'); ?></p>
			  <dl>
				  <?php foreach ($options as $option): ?>
				  <dt><?php echo $this->escapeHtml($this->__($option['label'])) ?></dt>
				  <dd>
					  <?php if (is_array($option['value'])): ?>
					  <?php echo nl2br(implode("\n", $option['value'])) ?>
					  <?php else: ?>
					  <?php echo $option['value'] ?>
					  <?php endif; ?>
				  </dd>
				  <?php endforeach; ?>
			  </dl>
		  </div>
      </div>
  </div>
</div>
<?php endif ?>
